<!-- Begin Page Content -->
<div class="container-fluid">

  <div class="d-flex align-items-center justify-content-center mt-5">
    <div class="text-center">
      <h1 class="display-1 fw-bold text-black"><%if(locals.code){%><%=code%><%}else{%>404<%}%></h1>
      <h1 class="mb-2">
        <%if(locals.message){%>
          <%=message%>
        <%}else{%>
          Page Not Found
        <%}%>
        </h1>
      <div class="text-gray-500 mt-5"><%if(locals.error){%><%=error%><%}else{%>It looks like you found a glitch in the matrix...<%}%></div>
      <a class="btn btn-primary mt-4 text-white" href="<%if(locals.action){%><%=action%><%}else{%>/<%}%>">&larr; <%if(locals.action){%><%=action%><%}else{%>Back to Dashboard<%}%></a>
    </div>
  </div>    

  <!-- 404 Error Text -->  


</div>
<!-- /.container-fluid -->