<!-- Begin Page Content -->
<div class="container-fluid">

  <!-- Page Heading -->
  <div class="d-flex justify-content-between my-3">
    <div class="left">
      <h1 class="h3 mb-4 d-flex gap-2"><i class="mdi mdi-bullhorn"></i>Banner management</h1>
    </div>
    <div class="right">
      <!-- <a href="/" class="btn btn-inverse-warning">Draft's</a> -->
      <a href="/banner/add" class="btn btn-inverse-info">+ Add new </a>
    </div>
  </div>

  <div class="row">

    <style>
      .banner-cont {
        position: absolute;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        padding: 50px;
        display: flex;
        align-items: flex-start;
        justify-content: center;
        flex-direction: column;
      }
      .bannerID {
        position: absolute;
        top: 20px;
        right: 20px;
        background-color: rgb(255, 255, 255);
        padding: 5px 10px;
        border-radius: 5px;
      }
    </style>

    <!-- banner cards -->
    <% locals?.banner?.docs?.forEach(e=>{ %>
    <div class="col-6 grid-margin stretch-card"  id="formCustomForm">
      <div class="card  border rounded shadow" style="background-color: <%-e.bg%>; min-height:300px;">
        <div class="bannerID"><%= e.bannerID %> </div>
        <div class="card-body position-relative">
          <div class="d-flex justify-content-end">
            <img src="/banner_images/<%= e.bannerID %>.jpg" style="max-height: 300px;" class="img-fluid" alt="">
          </div>
          <div class="banner-cont" style="color: <%-e.color%>;">
            <p class="sub-top"><%=e.titleTop %> </p>
            <h1 class="title"><%= e.title %> </h1>
            <h4><%= e.description %> </h4>
            <p class="sub-bottom"><b><%= e.titleBottom %></b> </p>
            <a class="btn btn-dark" href="<%= e.btnAction %>">
              <%=e.btnName%>
            </a>
          </div>
        </div>
      </div>
    </div>
    <% }); %>

  </div>
</div>