<!-- Begin Page Content -->
<div class="container-fluid">

  <!-- Page Heading -->
  <div class="d-flex justify-content-between my-3">
    <div class="left">
      <h1 class="h3 mb-4 d-flex gap-2"><i class="mdi mdi-bullhorn"></i>Banner management</h1>
    </div>
    <div class="right">
      <!-- <a href="/" class="btn btn-inverse-warning">Draft's</a> -->
      <a href="/banner/add" class="btn btn-inverse-info">+ Add new </a>
    </div>
  </div>

  <style>
    .bannerID {
      position: absolute;
      top: 20px;
      right: 20px;
      background-color: rgb(255, 255, 255);
      padding: 5px 10px;
      border-radius: 5px;
      z-index: 10;
    }
  </style>

  <!-- banner cards -->
  <% locals?.banner?.docs?.forEach(e=>{ %>
  <div class="row mt-3">
    <% let bannerUse = e; %>
    <section class="col-12 col-md-6 position-relative p-0 rounded shadow" style="overflow: hidden; background-color: <%-bannerUse?.bg%>;">
      <div class="row">
        <div class="col-12 col-md-12">
          <img src="/banner_images/<%= bannerUse?.bannerID %>.jpg" class="img-fluid rounded" alt="">
        </div>
        <div class="col-12 d-none col-md-12 d-md-flex justify-content-end p-5 h-100 align-items-center position-absolute">
          <div>
            <p style="color: <%-bannerUse?.color%>;" class="sub-top"><%=bannerUse?.titleTop %> </p>
            <h2 style="color: <%-bannerUse?.color%>;" class="title"><%= bannerUse?.title %> </h2>
            <h4 style="color: <%-bannerUse?.color%>;"><%= bannerUse?.description %> </h4>
            <p style="color: <%-bannerUse?.color%>;" class="sub-bottom"><b><%= bannerUse?.titleBottom %></b> </p>
            <a style="color: <%-bannerUse?.color%>;" class="btn btn-dark" href="<%= bannerUse?.btnAction %>">
              <%=bannerUse?.btnName%>
            </a>
          </div>
        </div>
        <div class="col-12 d-md-none col-md-12 d-flex justify-content-end p-5 h-100 align-items-center">
          <div>
            <p style="color: <%-bannerUse?.color%>;" class="sub-top"><%=bannerUse?.titleTop %> </p>
            <h2 style="color: <%-bannerUse?.color%>;" class="title"><%= bannerUse?.title %> </h2>
            <h4 style="color: <%-bannerUse?.color%>;"><%= bannerUse?.description %> </h4>
            <p style="color: <%-bannerUse?.color%>;" class="sub-bottom"><b><%= bannerUse?.titleBottom %></b> </p>
            <a style="color: <%-bannerUse?.color%>;" class="btn btn-dark" href="<%= bannerUse?.btnAction %>">
              <%=bannerUse?.btnName%>
            </a>
          </div>
        </div>
      </div>
    </section>
  </div>
  <% }); %>

</div>