<!-- Begin Page Content -->
<div class="container-fluid">

    <!-- Page Heading -->
    <h1 class="h3 mb-2 text-gray-800">Edit user</h1>
    <p class="mb-4">
        According to the provider user data dependency might change
    </p>

    <!-- DataTales Example -->
    <div class="card shadow mb-4">
        <div class="card-header py-3 d-flex justify-content-between">
            <h6 class="m-0 font-weight-bold text-primary" style="text-transform: capitalize;">
                <%=locals.user.name?user.name:user.email?user.email:user.phone?user.phone:user.UID%>
            </h6>
            <span style="text-transform: capitalize;">Mode of login : <%= user.loginProvider %> </span>
        </div>
        <div class="card-body">
            <div class="input-cont horz">
                <div class="input-cont">
                    <label for="name">Name</label>
                    <input type="text" name="name" id="NameInput" autocomplete="off"
                        placeholder="<%=user.name?user.name:'Name'%>">
                </div>
                <div class="input-cont">
                    <label for="email">Email</label>
                    <input type="email" name="email" id="EmailInput" placeholder="<%=user.email?user.email:'Email'%>"
                        autocomplete="off">
                </div>
            </div>
            <div class="input-cont horz">
                <div class="input-cont">
                    <label for="phone">Phone</label>
                    <input type="text" name="phone" id="PhoneInput" autocomplete="off"
                        placeholder="<%=user.phone?user.phone:'Phone'%>">
                </div>
                <div class="input-cont">
                    <label for="state">State of user</label>
                    <select name="state" id="StateInput">
                        <option value="enabled" <%=user.blocked?'':'selected'%> >Enabled</option>
                        <option value="disabled" <%=user.blocked?'selected':''%> >Disabled</option>
                    </select>
                </div>
            </div>
            <div class="input-cont">
                <label for="password">Password</label>
                <input type="text" name="password" placeholder="Phone"
                    value="<%=user.password?user.password:'--No Password--'%>" disabled>
            </div>
            <div class="input-cont horz">
                <div class="input-cont">
                    <label for="password">New password ( leave this field blank when no updates )</label>
                    <input type="password" id="PasswordInput" name="password"
                        placeholder="<%= user.password?'Password':'--Noting To Update--' %>"
                        <%=user.password?'':'disabled' %> >
                </div>
                <div class="input-cont">
                    <label for="confirm">Confirm password</label>
                    <input type="password" id="ConfirmInput" name="confirm"
                        placeholder="<%= user.password?'Confirm':'--Noting To Update--' %>"
                        <%=user.password?'':'disabled' %>>
                </div>
            </div>

            <div id="disp_state"
                style="padding: 10px 15px; display: none; text-transform: capitalize; background-color: rgb(255, 206, 206); box-sizing: border-box; margin: 10px; color: black;"
                class="mt-2 rounded">
                error
            </div>

            <button class="btn" onclick="updateUserData()">Confirm</button><br><br>
        </div>
    </div>

    <script>

        const disp = ({ message, isGood, returnVal }) => {
            let disp_state = document.getElementById("disp_state");
            disp_state.style.backgroundColor = isGood ? 'rgb(205 255 196 / 56%)' : 'rgb(255 203 203 / 56%)';
            disp_state.style.display = message || returnVal == false ? 'flex' : 'none';
            disp_state.innerText = message ? message : disp_state.innerText;
            return isGood || message == '' ? true : returnVal;
        };
        function updateUserData() {

            const provider = '<%=user.loginProvider%>';
            const UID = '<%=user.UID%>'

            let email = document.getElementById("EmailInput");
            let name = document.getElementById("NameInput");
            let phone = document.getElementById("PhoneInput");
            let state = document.getElementById("StateInput");
            let password = document.getElementById('PasswordInput');
            let confirm = document.getElementById('ConfirmInput');

            let thereIsNoError = true;

            thereIsNoError = password.value != confirm.value && password.value.length > 0 ?
                disp({ message: `Confirm password dosen't match`, returnVal: false }) :
                disp({ returnVal: thereIsNoError });

            thereIsNoError = password.value.length < 6 && password.value.length > 0 ?
                disp({ message: 'Enter a valid password', returnVal: false }) :
                disp({ returnVal: thereIsNoError });

            thereIsNoError = phone.value.match(/^\+?[1-9][0-9]{7,14}$/) ?
                disp({ returnVal: thereIsNoError }) :
                phone.value.length > 0 ?
                    disp({ message: 'Enter a valid phone number', returnVal: false }) :
                    disp({ returnVal: thereIsNoError });

            thereIsNoError = email.value.match(/^\w+([\.-]?\w+)*@\w+([\.-]?\w+)*(\.\w{2,3})+$/) ?
                disp({ returnVal: thereIsNoError }) :
                email.value.length > 0 ?
                    disp({ message: 'Enter a valid email', returnVal: false }) :
                    disp({ returnVal: thereIsNoError });

            thereIsNoError = name.value.match(/^[a-zA-Z]+(([a-zA-Z ])?[a-zA-Z]*)*$/g) ?
                disp({ returnVal: thereIsNoError }) :
                name.value.length > 0 ?
                    disp({ message: 'Enter a valid name', returnVal: false }) :
                    disp({ returnVal: thereIsNoError });


            if (thereIsNoError) {

                fetch(`/admin_panel/user_management/edit_user/`, {
                    headers: {
                        'Content-Type': 'application/json'
                    },
                    method: 'PUT',
                    body: JSON.stringify({
                        email: email.value ? email.value : null,
                        name: name.value ? name.value : null,
                        phone: phone.value ? phone.value : null,
                        state: state.value ? state.value : null,
                        password: password.value ? password.value : null,
                        UID: UID,
                        provider: provider
                    })
                })
                    .then(res => res.json())
                    .then(res => {
                        if (res.status == 'error') {
                            disp({ message: res.message });
                        } else {
                            disp({ message: res.message, isGood: true });
                            // window.location.reload();
                        };
                    })
                    .catch(err => {
                        console.log('err', err);
                    });
            };

        };
    </script>


</div>
<!-- /.container-fluid -->