<!-- Custom styles for this page -->
<link href="/vendor/datatables/dataTables.bootstrap4.min.css" rel="stylesheet">

<!-- Begin Page Content -->
<div class="container-fluid">

  <!-- Page Heading -->
  <h1 class="h3 mb-4 text-gray-800 d-flex gap-2"><i class="mdi mdi-grid-large"></i> Orders</h1>

  <!-- <div class="btn-cont mt-3">
    <a class="btn btn-inverse-info my-2 <%=locals.currentPage=='allProducts'?'active':'';%>" href="/user_management">All Orders</a>
    <a class="btn btn-inverse-info my-2 mx-1 <%=locals.currentPage=='activeUsers'?'active':'';%>" href="/user_management/active_users">New</a>
    <a class="btn btn-inverse-info my-2 mx-1 <%=locals.currentPage=='activeUsers'?'active':'';%>" href="/user_management/active_users">Complited</a>
    <a class="btn btn-inverse-info my-2 mx-0 <%=locals.currentPage=='diabledUsers'?'active':'';%>" href="/user_management/disabled_users">Cancelled</a>
  </div> -->

  <!-- DataTales Example -->
  <div class="card mb-4">
    <div class="card-header bg-white py-3">
      <h6 class="m-0 font-weight-bold ">New Orders</h6>
    </div>
    <div class="card-body">
      <div class="table-responsive">
        <table class="table table-bordered table_for_orders" id="dataTable" width="100%" cellspacing="0">
          <thead>
            <tr>
              <th>#</th>
              <th>Orderd by user</th>
              <th>Progress</th>
              <th>Purchased</th>
              <th>Quantity</th>
              <th>Price</th>
              <th>Date</th>
              <th></th>
            </tr>
          </thead>
          <tbody>
            <% locals?.orders?.forEach((order,index,array)=>{ %>
            <% 
               let resultAccumilator = []; 
               let cancelAccumilator = [];
               let data = order?.orders?.products?.forEach(element => {
                if(element.statusUpdate['3']) resultAccumilator.push(element);
                if(element.statusUpdate['5']) cancelAccumilator.push(element);
               });
            %>
            <% let percent = Math.floor((resultAccumilator.length / order?.orders?.products?.length) * 100); %>
            <tr>
              <td>
                <%=index+1%>
              </td>
              <td>
                <%=order?.user[0]?.email?order?.user[0].email:order?.user[0]?.phone%>
              </td>
              <td>
                <div class="progress">
                  <div class="progress-bar <%= cancelAccumilator.length==order?.orders?.products?.length?'bg-danger':'bg-success' %> " role="progressbar" style="width: <%=cancelAccumilator.length==order?.orders?.products?.length?'100':percent%>%" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"></div>
                </div>
              </td>
              <td>
                <%=order?.orders?.products?.length%> Items
              </td>
              <td>
                <%=order?.orders?.products[0]?.totalCount%> pcs
              </td>
              <td>
                ₹ <%=order?.orders?.products[0]?.subTotal%>
              </td>
              <td>
                <%=order?.orders?.dateOFOrder%>
              </td>
              <td style="text-align: center; color: white;">
                <span class="bg-dark py-2 rounded px-3" style="cursor: pointer;" onclick="window.location.href='/orders/<%=order?.orders?.orderID%>'">View</span>
              </td>
            </tr>
            <% }); %>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>
<!-- /.container-fluid -->