<!-- Custom styles for this page -->
<link href="/vendor/datatables/dataTables.bootstrap4.min.css" rel="stylesheet">

<!-- Begin Page Content -->
<div class="container-fluid">

    <!-- Page Heading -->
    <h1 class="h3 mb-2 text-gray-800">All Products</h1>
    <p class="mb-4">View, Update, Create, and delete products</p>

    <!-- DataTales Example -->
    <div class="card shadow mb-4">
        <div class="card-header py-3">
            <h6 class="m-0 font-weight-bold text-primary">All users</h6>
        </div>
        <div class="card-body">
            <div class="table-responsive">
                <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                    <thead>
                        <tr>
                            <th>#</th>
                            <th>IMG</th>
                            <th>Title</th>
                            <th>Description</th>
                            <th>Price</th>
                            <th>Quantitly</th>
                            <!-- <th>Discount</th> -->
                            <th>Category</th>
                            <th>Created</th>
                            <th style="cursor: pointer; text-align: center;">-</th>
                        </tr>
                    </thead>
                    <tbody>
                        <% products.forEach((product,index,array)=>{ %>
                            <tr>
                                <td>
                                    <%=index+1%>
                                </td>
                                <td style="text-transform:capitalize;">
                                    <img style="width: 60px;" src="/product_images/<%=product.PID%>1.jpg" alt="IMG">
                                </td>
                                <td>
                                    <%=product.title%>
                                </td>
                                <td>
                                    <%=product.description%>
                                </td>
                                <td style="text-transform:capitalize;">
                                    <%=product.price%>
                                </td>
                                <td>
                                    <%=product.stock%>
                                </td>
                                <!-- <td>
                                    <%=product.offer?product.offer:'-'%>
                                </td> -->
                                <td>
                                    <%=product.category%>
                                </td>
                                <td>
                                    <%=product.creationTime%>
                                </td>
                                <td style="cursor: pointer; text-align: center;"
                                    onclick="window.location.href='/admin_panel/edit_product/<%=product.PID%>'">
                                    <i class="fas fa-cog"></i>&nbsp;Setup</td>
                            </tr>
                            <% }); %>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
<!-- /.container-fluid -->