<!-- Custom styles for this page -->
<link href="/vendor/datatables/dataTables.bootstrap4.min.css" rel="stylesheet">

<!-- Begin Page Content -->
<div class="container-fluid">

    <!-- Page Heading -->
    <h1 class="h3 mb-2 text-gray-800">All Users</h1>
    <p class="mb-4">Edit, Update, Create, block and unblock Users</p>

    <!-- DataTales Example -->
    <div class="card shadow mb-4">
        <div class="card-header py-3">
            <h6 class="m-0 font-weight-bold text-primary">All users</h6>
        </div>
        <div class="card-body">
            <div class="table-responsive">
                <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                    <thead>
                        <tr>
                            <th>#</th>
                            <th>Name</th>
                            <th>Email</th>
                            <th>Phone</th>
                            <th>Provider</th>
                            <th>Created</th>
                            <th>Lastlogin</th>
                            <th>blocked</th>
                            <th>-</th>
                        </tr>
                    </thead>
                    <tbody>
                        <% users.forEach((user,index,array)=>{ %>
                            <tr>
                                <td>
                                    <%=index+1%>
                                </td>
                                <td style="text-transform:capitalize;">
                                    <%=user.name%>
                                </td>
                                <td>
                                    <%=user.email%>
                                </td>
                                <td>
                                    <%=user.phone%>
                                </td>
                                <td style="text-transform:capitalize;">
                                    <%=user.loginProvider%>
                                </td>
                                <td>
                                    <%=user.creationTime%>
                                </td>
                                <td>
                                    <%=user.lastLogin%>
                                </td>
                                <td style="text-transform:capitalize;">
                                    <%if(user.blocked){%>
                                        <i class="fas fa-exclamation-circle"></i> blocked
                                    <%}else{%>
                                        <i class="fas fa-check-circle"></i> good
                                    <%};%>
                                </td>
                                <td style="cursor: pointer;"><i class="fas fa-user-edit"></i>&nbsp;Edit</td>
                            </tr>
                            <% }); %>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
<!-- /.container-fluid -->

