<!-- Custom styles for this page -->
<link href="/vendor/datatables/dataTables.bootstrap4.min.css" rel="stylesheet">

<!-- Begin Page Content -->
<div class="container-fluid">

    <!-- Page Heading -->
    <h1 class="h3 mb-2 text-gray-800">All Users</h1>
    <p class="mb-4">Edit, Update, Create, block and unblock Users <br>Some fields can be updated within this page those fields are highlighted</p>

    <!-- DataTales Example -->
    <div class="card shadow mb-4">
        <div class="card-header py-3">
            <h6 class="m-0 font-weight-bold text-primary">All users</h6>
        </div>
        <div class="card-body">
            <div class="table-responsive">
                <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                    <thead>
                        <tr>
                            <th>#</th>
                            <th>Name</th>
                            <th>Email</th>
                            <th>Phone</th>
                            <th>Provider</th>
                            <th>Created</th>
                            <th>Lastlogin</th>
                            <th style="cursor: pointer; text-align: center;">blocked</th>
                            <th style="cursor: pointer; text-align: center;">-</th>
                        </tr>
                    </thead>
                    <tbody>
                        <% users.forEach((user,index,array)=>{ %>
                            <tr>
                                <td>
                                    <%=index+1%>
                                </td>

                                <td class="tabe_editable_TD" title="Click To edit"
                                    onclick="categoryName('<%=user.UID%>',this)">
                                    <div class="width-helper">
                                        <%=user?.name?user.name.split(" ").join(""):''%></div>
                                    <input type=" text" class="input_editable" disabled data-id="<%=user.UID%>"
                                            value="<%=user.name%>" data-type="name">
                                </td>

                                <td class="tabe_editable_TD" title="Click To edit"
                                    onclick="categoryName('<%=user.UID%>',this)">
                                    <div class="width-helper">
                                        <%=user.email%>
                                    </div>
                                    <input type="text" class="input_editable" disabled data-id="<%=user.UID%>"
                                        value="<%=user.email%>" data-type="email">
                                </td>

                                <td class="tabe_editable_TD" title="Click To edit"
                                    onclick="categoryName('<%=user.UID%>',this)">
                                    <div class="width-helper">
                                        <%=user.phone%>
                                    </div>
                                    <input type="text" class="input_editable" disabled data-id="<%=user.UID%>"
                                        value="<%=user.phone%>" data-type="phone">
                                </td>
                                <td style="text-transform:capitalize;">
                                    <%=user.loginProvider%>
                                </td>
                                <td>
                                    <%=user.creationTime%>
                                </td>
                                <td>
                                    <%=user.lastLogin%>
                                </td>
                                <td style="text-transform:capitalize; cursor: pointer; text-align: center;">
                                    <%if(user.blocked){%>
                                        <i class="fas fa-exclamation-circle"></i> blocked
                                        <%}else{%>
                                            <i class="fas fa-check-circle"></i> Active
                                            <%};%>
                                </td>
                                <td style="cursor: pointer; text-align: center;"
                                    onclick="window.location.href='/admin_panel/user_management/edit_user/<%=user.UID%>'">
                                    More&nbsp;<i class="fas fa-cog"></i>
                                </td>
                            </tr>
                            <% }); %>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
<!-- /.container-fluid -->

<script>

    function categoryName(ID, td, type) {
        const categoryInput = td.querySelector('input');
        categoryInput.removeAttribute('disabled');
        categoryInput.focus();
    };

    const inputCollection = document.querySelectorAll('input.input_editable');

    inputCollection.forEach(element => {
        element.addEventListener('keyup', e => {
            if (e.keyCode == 13) {
                const value = e.target.value;
                const UID = e.target.getAttribute('data-id');
                const input = e.target;
                const type = e.target.getAttribute('data-type');
                saveCurrentValue(UID, value, input, type);
            };
        });
        element.addEventListener('focusout', e => {
            const value = e.target.value;
            const UID = e.target.getAttribute('data-id');
            const input = e.target;
            const type = e.target.getAttribute('data-type');
            saveCurrentValue(UID, value, input, type);
        });
    });

    function saveCurrentValue(UID, value, input, type) {
        input.style.borderColor = 'black';

        if (value?.length > 2) {

            fetch('/admin_panel/user_management/edit_user', {
                method: 'PUT',
                headers: {
                    'Content-Type': 'application/json'
                },
                body: JSON.stringify({
                    name: type == 'name' ? value : null,
                    email: type == 'email' ? input.value : null,
                    phone: type == 'phone' ? value : null,
                    UID: UID ? UID : null,
                })
            })
                .then(res => res.json())
                .then(res => {
                    if (res.status == 'error') {
                        console.log('ERROR_A => ', res.message);
                        input.style.borderColor = 'red';
                    } else {
                        input.style.borderColor = '';
                        input.setAttribute('disabled', '');
                    };
                })
                .catch(error => {
                    console.error(error);
                    input.style.borderColor = 'red';
                });

        } else {
            input.style.borderColor = 'red';
        };
    };

</script>