<div class="page-content">
  <div class="container-fluid">

    <div class="title">
      <h4>View Order details</h4>
      <div><small>Date : <%=locals?.orders[0]?.order?.dateOFOrder%></small></div>
    </div><br>

    <ul class="list-group">

      <li class="list-group-item  mt-3 rounded">
        <div class="d-flex justify-content-between align-items-center">
          <b>Total : <%= locals?.orders[0]?.order?.products?.subTotal %>.00 Rs</b>
          <div class="d-flex align-items-center">
            <div class="spinner-grow text-success"></div>
          </div>
        </div>
        <div class="row mt-3">
          <div class="col-6 p-1">
            <div class="card rounded p-3 h-100">
              <h6>Contact info</h6>
              <span>Name : <%= locals?.orders[0]?.user?.name %> </span>
              <span>Phone : <%= locals?.orders[0]?.user?.phone %> </span>
              <span>Email : <%= locals?.orders[0]?.user?.email %> </span>
            </div>
          </div>
          <div class="col-6 p-1">
            <div class="card rounded p-3 h-100">
              <h6>Address</h6>
              <span>House number / House name : <%=locals?.orders[0]?.order?.address?.houseNumber%></span>
              <span>Town : <%=locals?.orders[0]?.order?.address?.town%></span>
              <span>Pin code : <%=locals?.orders[0]?.order?.address?.postalCode%></span>
              <span>State : <%=locals?.orders[0]?.order?.address?.state%></span>
              <span>Country : <%=locals?.orders[0]?.order?.address?.country%></span>
              <span>Phone : <%=locals?.orders[0]?.order?.address?.phone%></span>
            </div>
          </div>
        </div>
      </li>


      <% locals?.orders?.forEach(e=>{ %>
      <li class="list-group-item mt-3 rounded">

        <div class="float-right d-flex align-items-center">
          <small><i>Product ID : <%= e?.order?.products?.PID %> </i></small> &nbsp;&nbsp;
        </div>

        <div class="media p-3">
          <div class="d-flex align-items-center mb-4">
            <div class="h-100" style="height: 100%;">
              <img src="/product_images/<%=e?.order?.products?.PID%>1.jpg" alt="" class="mr-3 mt-3 mr-4 rounded" style="width:60px;">
            </div>
            <h5 class="m-0 mx-2" style="line-height: 1.5;"><%=e?.order?.products?.title%></h5>
          </div>

          <div class="row mt-1">
            <div class="col-6 p-1">
              <div class="card rounded p-3 h-100">
                <span style="text-transform: capitalize;">Payment Status : <b><%= e?.order?.paymentStatus %></b></span>
                <% if(e?.order?.products?.offer){ %>
                <span>Price : <s style="color: #ff8b8b;"><%=e?.order?.products?.price%></s>&nbsp;<%=e?.order?.products?.price - e?.order?.products?.offer%> Rs </span>
                <% }else{ %>
                <span>Price : <%=e?.order?.products?.price%> Rs</span>
                <% }; %>
                <span>Quantity : <%=e?.order?.products?.quantity%> Pcs</span>
                <b>Total Amount : <%=e?.order?.products?.total%> Rs</b>
              </div>
            </div>

            <div class="col-6 p-1 ">
              <div class="card p-3 rounded h-100">
                <span style="text-transform: capitalize;" class="d-flex align-items-center">
                  Order Status : &nbsp;
                  <!-- <%= e?.order?.products?.status %> -->
                  <% if(e?.order?.products?.status=='ordered') {%>
                  <span class="badge bg-warning ml-2 mr-2 badge-pill" data-toggle="tooltip" title="<%=locals?.util?.dataToReadable(e?.order?.products?.update)%>"><%=e?.order?.products?.status%></span>
                  <!-- <div class="spinner-grow spinner-grow-sm text-warning"></div> -->
                  <% }else if(e?.order?.products?.status=='shipped'){ %>
                  <span class="badge bg-primary ml-2 mr-2 badge-pill" data-toggle="tooltip" title="<%=locals?.util?.dataToReadable(e?.order?.products?.update)%>"><%=e?.order?.products?.status%></span>
                  <!-- <div class="spinner-grow spinner-grow-sm text-primary"></div> -->
                  <% }else if(e?.order?.products?.status=='returned'){ %>
                  <span class="badge bg-primary ml-2 mr-2 badge-pill" data-toggle="tooltip" title="<%=locals?.util?.dataToReadable(e?.order?.products?.update)%>"><%=e?.order?.products?.status%></span>
                  <!-- <div class="spinner-grow spinner-grow-sm text-primary"></div> -->
                  <% }else if(e?.order?.products?.status=='out for delivery'){ %>
                  <span class="badge bg-secondary ml-2 mr-2 badge-pill" data-toggle="tooltip" title="<%=locals?.util?.dataToReadable(e?.order?.products?.update)%>"><%=e?.order?.products?.status%></span>
                  <!-- <div class="spinner-grow spinner-grow-sm text-secondary"></div> -->
                  <% }else if(e?.order?.products?.status=='delivered'){ %>
                  <span class="badge bg-success ml-2 mr-2 badge-pill" data-toggle="tooltip" title="<%=locals?.util?.dataToReadable(e?.order?.products?.update)%>"><%=e?.order?.products?.status%></span>
                  <!-- <div class="spinner-grow spinner-grow-sm text-success"></div> -->
                  <% }else if(e?.order?.products?.status=='cancelled'){ %>
                  <span class="badge bg-danger ml-2 mr-2 badge-pill" data-toggle="tooltip" title="<%=locals?.util?.dataToReadable(e?.order?.products?.update)%>"><%=e?.order?.products?.status%></span>
                  <!-- <div class="spinner-grow spinner-grow-sm text-danger"></div> -->
                  <% } %>
                </span>
                <div>OrderID : <%=locals?.orders[0]?.order?.orderID%></div>
                <div>Date : <%=locals?.util.dataToReadable(locals?.orders[0]?.order?.dateOFOrder)%></div>
              </div>
            </div>

            <% if(e?.order?.products?.statusUpdate){ %>

            <div class="row">
              <div class="col-12 hh-grayBox pt45 pb20">
                <div class="row justify-content-between">
                  <div class="order-tracking <%=   e?.order?.products?.statusUpdate['0']? 'completed' : e?.order?.products?.statusUpdate['5']?.status?'cancelled':''%> ">
                    <span class="is-complete"></span>
                    <p><%= e?.order?.products?.statusUpdate['0']?'Ordered': 'Cancelled'%><br><span><%=  e?.order?.products?.statusUpdate['0']? locals?.util?.dataToReadable(e?.order?.products?.update) : locals?.util?.dataToReadable(e?.order?.products?.statusUpdate['5']?.date)%></span></p>
                  </div>
                  <div class="order-tracking <%= e?.order?.products?.statusUpdate['1']? 'completed' : e?.order?.products?.statusUpdate['5']?.status?'cancelled':''%> ">
                    <span class="is-complete "></span>
                    <p><%= e?.order?.products?.statusUpdate['1']?'Shipped': 'Cancelled'%><br><span><%=  e?.order?.products?.statusUpdate['1']? locals?.util?.dataToReadable(e?.order?.products?.update) : locals?.util?.dataToReadable(e?.order?.products?.statusUpdate['5']?.date)%></span></p>
                  </div>
                  <div class="order-tracking <%= e?.order?.products?.statusUpdate['2']? 'completed' : e?.order?.products?.statusUpdate['5']?.status?'cancelled':''%> ">
                    <span class="is-complete"></span>
                    <p><%= e?.order?.products?.statusUpdate['2']?'Out for delevery': 'Cancelled'%><br><span><%=  e?.order?.products?.statusUpdate['2']? locals?.util?.dataToReadable(e?.order?.products?.update) : locals?.util?.dataToReadable(e?.order?.products?.statusUpdate['5']?.date)%></span></p>
                  </div>
                  <div class="order-tracking <%=  e?.order?.products?.statusUpdate['3']? 'completed': e?.order?.products?.statusUpdate['5']?.status?'cancelled':''%> ">
                    <span class="is-complete"></span>
                    <p><%= e?.order?.products?.statusUpdate['3']?'Delivered': 'Cancelled'%><br><span><%=  e?.order?.products?.statusUpdate['3']? locals?.util?.dataToReadable(e?.order?.products?.update) : locals?.util?.dataToReadable(e?.order?.products?.statusUpdate['5']?.date)%></span></p>
                  </div>
                </div>
              </div>
            </div>

            <% }else{ %>
            <div class="d-flex w-100 align-items-center justify-content-center p-5 bg-light my-3">
              No update available
            </div>
            <% } %>

            <div class="row">
              <div class="p-0 d-flex justify-content-between">
                <button class="btn btn-sm btn-danger d-flex align-items-center" <% if(e?.order?.products?.status=='delivered' || e?.order?.products?.status=='cancelled'  ){ %> disabled <% } %> onclick="cancel('<%=e?.order?.products?.PID%>','<%=locals?.orders[0]?.order?.orderID%>', this)">
                  <span class="spinner-border spinner-border-sm mr-2" style="display: none;"></span>
                  <span class="text text-white">Cancel Order</span>
                </button>
                <button class="btn btn-sm btn-info d-flex align-items-center" <% if(e?.order?.products?.status=='cancelled' || e?.order?.products?.status=='delivered'){ %> disabled <% } %> onclick="nextStep('<%=e?.order?.products?.PID%>','<%=locals?.orders[0]?.order?.orderID%>', this)">
                  <span class="spinner-border spinner-border-sm mr-2" style="display: none;"></span>
                  <span class="text">Move to next step</span>
                </button>
              </div>
            </div>

          </div>
        </div>

      </li>
      <% }); %>

      <li class="list-group-item d-flex justify-content-between align-items-center mt-3 rounded">
        <b>Total : <%= locals?.orders[0]?.order?.products?.subTotal %>.00 Rs</b>
        <div class="d-flex align-items-center">
          <div class="spinner-grow text-success"></div>
        </div>
      </li>

    </ul>

  </div>
</div>
<script>
  const cancel = async (PID, orderID, btn) => {
    const result = await Swal.fire({
      title: 'Cancel this order ?'
    });
    if (result?.isConfirmed) updateStatus(PID, orderID, btn, 'cancel');
  }
  const nextStep = async (PID, orderID, btn) => {
    const result = await Swal.fire({
      title: 'Update order status ?'
    });
    if (result?.isConfirmed) updateStatus(PID, orderID, btn, 'next');
  };

  function updateStatus(PID, orderID, btn, type) {
    const loading = btn.querySelector('span');
    const btnText = btn.querySelector('span.text');

    Swal.fire({
      title: 'Connecting to server',
      didOpen: () => {
        Swal.showLoading()

        fetch('/orders/update_status', {
            method: 'PUT',
            headers: {
              'Content-Type': 'application/json'
            },
            body: JSON.stringify({
              PID: PID,
              orderID: orderID,
              status: type
            })
          })
          .then(res => res.json())
          .then(res => {
            if (res.status == 'error') {
              console.warn('Error => ', res.message);
              Swal.close();
              Swal.fire({
                title: res.message,
                icon: 'error'
              });
            } else {
              Swal.close();
              window.location.reload();
            };
          })
          .catch(e => {
            Swal.close();
            Swal.fire({
              title: 'Error connecting to server click to retry',
              icon: 'error'
            });
            console.warn('Error => ', e);
          });
      }
    });
  };
</script>
<script>
  var prev = document.getElementById('prev');
  var next = document.getElementById('next');
  var trak = document.getElementById('progress');
  var step = document.getElementById('step');

  next.addEventListener('click', function() {
    var cls = trak.className.split('-').pop();
    cls > 6 ? cls = 0 : cls++;

    step.innerHTML = cls;
    trak.className = 'progress-' + cls;
  });

  prev.addEventListener('click', function() {
    var cls = trak.className.split('-').pop();
    cls < 1 ? cls = 7 : cls--;

    step.innerHTML = cls;
    trak.className = 'progress-' + cls;
  });
</script>
<style>
  .hh-grayBox {
    background-color: #F8F8F8;
    margin-bottom: 20px;
    padding: 35px;
    margin-top: 20px;
  }

  .pt45 {
    padding-top: 45px;
  }

  .order-tracking {
    text-align: center;
    width: 25%;
    position: relative;
    display: block;
  }

  .order-tracking .is-complete {
    display: block;
    position: relative;
    border-radius: 50%;
    height: 30px;
    width: 30px;
    border: 0px solid #AFAFAF;
    background-color: #f7be16;
    margin: 0 auto;
    transition: background 0.25s linear;
    -webkit-transition: background 0.25s linear;
    z-index: 2;
  }

  .order-tracking .is-complete:after {
    display: block;
    position: absolute;
    content: '';
    height: 14px;
    width: 7px;
    top: -2px;
    bottom: 0;
    left: 5px;
    margin: auto 0;
    border: 0px solid #AFAFAF;
    border-width: 0px 2px 2px 0;
    transform: rotate(45deg);
    opacity: 0;
  }

  .order-tracking .is-complete:before {
    display: block;
    position: absolute;
    content: 'X';
    /* height: 14px;
    width: 7px;
    top: -2px;
    bottom: 0;
    left: 5px; */
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    color: transparent;
    /* margin: auto 0;
    border: 0px solid #AFAFAF;
    border-width: 0px 2px 2px 0;
    transform: rotate(45deg);
    opacity: 0; */
  }


  .order-tracking.completed .is-complete {
    border-color: #27aa80;
    border-width: 0px;
    background-color: #27aa80;
  }

  .order-tracking.cancelled .is-complete {
    border-color: #aa2727;
    border-width: 0px;
    background-color: #aa2727;
  }

  .order-tracking.completed .is-complete:after {
    border-color: #fff;
    border-width: 0px 3px 3px 0;
    width: 7px;
    left: 11px;
    opacity: 1;
  }

  .order-tracking.cancelled .is-complete:before {
    color: rgb(255, 255, 255);
  }

  .order-tracking p {
    color: #A4A4A4;
    font-size: 16px;
    margin-top: 8px;
    margin-bottom: 0;
    line-height: 20px;
  }

  .order-tracking p span {
    font-size: 14px;
  }

  .order-tracking.completed p {
    color: #000;
  }

  .order-tracking.cancelled p {
    color: #000;
  }

  .order-tracking::before {
    content: '';
    display: block;
    height: 3px;
    width: calc(100% - 40px);
    background-color: #f7be16;
    top: 13px;
    position: absolute;
    left: calc(-50% + 20px);
    z-index: 0;
  }

  .order-tracking:first-child:before {
    display: none;
  }

  .order-tracking.completed:before {
    background-color: #27aa80;
  }

  .order-tracking.cancelled::before {
    background-color: #aa2727;
  }
</style>