<!-- page title -->
<section class="container-fluid" style="background-image: url('/assets/images/page-header-bg.jpg')">
  <div class="container">
    <h2 class="pt-4"><b>Shop form your favorate categorys</b></h2>
    <p class="pb-4" style="text-transform: capitalize;">Nester <%= locals?.currentPage?' > '+locals.currentPage:''  %> <%= locals?.category?' > '+locals.category:''  %> </p>
  </div>
</section>

<!-- results for category -->
<section class="container">
  <div class="row">
    <% if(locals?.products?.length>0){ %>
    <div class="col-12">
      <div class="product__discount">
        <div class="my-3 text-center">
          <h3 class="my-3">Products From <%= locals?.category?''+locals.category:''  %></h3>
        </div>
        <div class="row">

          <% locals?.products?.forEach((product,index)=>{ %>
          <div class="col-12 col-md-6 px-md-0">
            <div class="card p-3 m-1" onclick="window.location.href='/product/<%=product.PID%>'" style='cursor: pointer;'>
              <div class="row">
                <div class="col-5">
                  <img src="/product_images/<%= product.PID %>1.jpg " class="img-fluid" alt="">
                </div>
                <div class="col-7">
                  <h6 class="limit_lines_css l-3" style="cursor: pointer;"><%= product.title %> </h6>

                  <span class="text-dark mt-1 mb-0">
                    <b><%= product.price - product.offer%> Rs</b>
                  </span>
                  <% if(product.offer){ %>
                  <b class="text-danger"><sup> - <%= product.offer%>Rs OFF </sup></b>
                  <s>
                    <b>
                      <p class="m-0">MRP : <%= product.price %> Rs </p>
                    </b>
                  </s>
                  <br>
                  <span class="bg-danger text-white px-3"><%= product.stock!=0?product.stock<10?`Only ${product.stock} left`:'In Stock':'Out of stock' %> </span>
                  <% }else{ %>
                  <br><br>
                  <span class="bg-danger text-white px-3"><%= product.stock!=0?product.stock<10?`Only ${product.stock} left`:'In Stock':'Out of stock' %> </span>
                  <% }; %>

                </div>
              </div>
            </div>
          </div>
          <% }); %>

        </div>
      </div>
    </div>
    <% }else{ %>
    <div class="col-12 card p-4 rounded bg-warning">
      <h5>Oops the category you searched for doesn't contain any products !</h5>
    </div>
    <% }; %>
  </div>
</section>

<!-- product suggestions -->
<section class="container">
  <div class="product__discount">
    <div class="m-3 text-center">
      <h3 class="m-3">Related products</h3>
    </div>
    <div class="row">
      <% locals?.topProducts?.forEach((prod,index)=>{ %>
      <% let product = prod.product[0]%>
      <div class="col-12 col-md-6 px-md-0">
        <div class="card p-3 m-1" onclick="window.location.href='/product/<%=product.PID%>'" style='cursor: pointer;'>
          <div class="row">
            <div class="col-5">
              <img src="/product_images/<%= product.PID %>1.jpg " class="img-fluid" alt="">
            </div>
            <div class="col-7">
              <h6 class="limit_lines_css l-3" style="cursor: pointer;"><%= product.title %> </h6>

              <span class="text-dark mt-1 mb-0">
                <b><%= product.price - product.offer%> Rs</b>
              </span>
              <% if(product.offer){ %>
              <b class="text-danger"><sup> - <%= product.offer%>Rs OFF </sup></b>
              <s>
                <b>
                  <p class="m-0">MRP : <%= product.price %> Rs </p>
                </b>
              </s>
              <br>
              <span class="bg-danger text-white px-3"><%= product.stock!=0?product.stock<10?`Only ${product.stock} left`:'In Stock':'Out of stock' %> </span>
              <% }else{ %>
              <br><br>
              <span class="bg-danger text-white px-3"><%= product.stock!=0?product.stock<10?`Only ${product.stock} left`:'In Stock':'Out of stock' %> </span>
              <% }; %>
            </div>
          </div>
        </div>
      </div>
      <% }); %>
    </div>
  </div>
</section>