<section class="container-fluid" style="background-image: url('/assets/images/page-header-bg.jpg')">
  <div class="container">
    <h2 class="pt-4"><b>Dashboard</b></h2>
    <p class="pb-4" style="text-transform: capitalize;">Dashboard <%= locals?.currentPage?' > '+locals.currentPage:'' %> </p>
  </div>
</section>

<section class="container mb-5">
  <div class="row">
    <div class="col-3 d-none d-md-block">
      <ul style="list-style: none;" class="list_features">
        <li class="p-3 card d-flex" onclick="window.location.href='/dashboard'">
          <div>
            <i class="fa-solid fa-user"></i>
            <span class="ml-2">Account</span>
          </div>
        </li>
        <li class="p-3 card mt-2 d-flex" onclick="window.location.href='/dashboard/orders'">
          <div>
            <i class="fa-solid fa-bag-shopping"></i>
            <span class="ml-2">Orders</span>
          </div>
        </li>
        <li class="p-3 card mt-2 d-flex " onclick="window.location.href='/dashboard/address'">
          <div>
            <i class="fa-solid fa-address-book"></i>
            <span class="ml-2">Address</span>
          </div>
        </li>
        <li class="p-3 card mt-2 d-flex " onclick="window.location.href='/dashboard/wallet'">
          <div>
            <i class="fa-solid fa-wallet"> </i>
            <span class="ml-2">Wallets</span>
          </div>
        </li>
        <li class="p-3 card mt-2 d-flex bg-light" onclick="window.location.href='/dashboard/security'">
          <div>
            <i class="fa-solid fa-lock"></i>
            <span class="ml-2">Security</span>
          </div>
        </li>
        <li class="p-3 card mt-2 d-flex " onclick="logout()">
          <div>
            <i class="fa-solid fa-right-from-bracket"></i>
            <span class="ml-2">Logout</span>
          </div>
        </li>
      </ul>
    </div>
    <div class="col-md-9 col-12">
      <div class="card h-100 p-4">

        <!-- Selection for account page -->
        <section class="account_dash">
          <!-- <div style="position: absolute ; top: 20px; right:30px; cursor: pointer;">
              <i class="fa-solid fa-ellipsis-vertical"></i>
            </div> -->

          <h3>Login & security </h3>

          <% if(locals.user.loginProvider=='email'){ %>
          <div class="row">
            <div class="col-12 mt-3">
              <p>Change password</p>
              <div class="psw_input_cont">
                <div class="form-group">
                  <label for="" class="d-flex justify-content-between">Old password <span class="text-danger"></span></label>
                  <input type="password" class="form-control" placeholder="Your password" id="currentPassword">
                </div>
                <div class="form-group">
                  <label for="" class="d-flex justify-content-between">new password <span class="text-danger"></span></label>
                  <input type="password" class="form-control" placeholder="new password" id="newPassword">
                </div>
                <div class="form-group">
                  <label for="" class="d-flex justify-content-between">Confirm <span class="text-danger"></span></label>
                  <input type="password" class="form-control" placeholder="confirm" id="confirmPassword">
                </div>
                <p style="cursor: pointer;">Forgot password ?</p>
                <div class="btn btn-dark px-3" onclick="updaeUserData(true)">
                  Change
                </div>
              </div>
            </div>
          </div>
          <hr>
          <% } %>

          <ul class="security_dash">
            <div class="d-flex align-items-center justify-content-between mt-3">
              <p class="p-0 m-0">Logged in devices</p>
              <span>Last login : <%= locals?.util?.dateToReadable(locals?.user.lastLogin) %> </span>
            </div>
            <% locals?.security?.reverse().forEach(e=>{ %>

            <li class="p-3 bg-light rounded my-2">
              <% if(e.session.userLogin) {%>
              <div class="d-flex align-items-center justify-content-between">

                <div class="d-flex align-items-center">
                  <% if(e.session?.userLogin?.device?.type =='smartphone'){ %>
                  <i class="fa-solid fa-mobile"></i>
                  <% } %>
                  <% if(e.session?.userLogin?.device?.type =='desktop'){ %>
                  <i class="fa-solid fa-desktop"></i>
                  <% } %>
                  <span class="mx-2">
                    Logged In from
                    <span style="text-transform: capitalize;"><%= e.session?.userLogin?.device?.type %> </span>
                    at
                    <span><%= locals?.util?.dateToReadable(e.session?.userLogin?.date) %> </span>
                  </span>
                </div>

                <small>Will stay logged in till : <%= locals?.util?.dateToReadable(e.expires) %> </small>
              </div>
              <% }else{ %>
              <small>Will stay logged in till : <%= locals?.util?.dateToReadable(e.expires) %> </small>
              <% }; %>

              <div>
                <% if(locals?.session == e?._id){ %>
                <p class="m-0 mt-2 p-0">This device</p>
                <% }else{ %>
                <div class="btn btn-warning mt-3 px-4" onclick="logoutSessoin('<%=e?._id%>')">logout</div>
                <%  } %>
              </div>
            </li>

            <% }); %>
          </ul>

        </section>
        <!-- account page selection end -->

      </div>
    </div>
  </div>
  <script src="/js/user/dashboard.js"></script>
  <script>
    // to change password to new one
    async function changePassword() {
      try {

        const oldpsw = document.getElementById('pswInput');
        const newpsw = document.getElementById('pswNew');
        const cnfpsw = document.getElementById('pswConfirm');

      } catch (error) {
        notify(error);
      }
    };

    async function logoutSessoin(sid) {
      const pop = await Swal.fire({
        title: 'Are you sure ?',
        icon: "warning",
        html: 'By confirmg you will be logged out of form specified device',
      });

      if (pop.isConfirmed) {
        try {

          const dataFromServer = await fetch(`/user_logout/from/${sid}`, {
            method: 'POST'
          });

          const res = await dataFromServer.json();

          try {

            // handling error
            if (res.status == 'error') throw res.message;
          } catch (error) {
            // showing popup;
            notify(error);
            return 0;
          };

          notify(res.message, 'success');

          // to update all data across the page a reload is required so....
          window.location.reload();

        } catch (error) {
          console.log(error);
          notify('Error connecting to srever');
        };
      }
    }

    function logout() {

      fetch('/user_logout', {
          method: 'POST',
          headers: {
            'Content-Type': 'application/json'
          },
          body: JSON.stringify({
            message: "log me out"
          })
        })
        .then(res => res.json())
        .then(res => {
          if (res.status == 'error') {
            notify(res.message);
          } else {
            window.location.href = res.action;
          };
        })
        .catch(error => {
          notify(error)
        });
    };
  </script>
</section>