<section class="container">
  <h2 class="py-4"><b>Dashboard</b></h2>
  <p style="text-transform: capitalize;">Dashboard <%= locals?.currentPage?' > '+locals.currentPage:'' %> </p>
</section>

<section class="container mb-5">
  <div class="row">
    <div class="col-3">
      <ul style="list-style: none;" class="list_features">
        <li class="p-3 card d-flex" onclick="window.location.href='/dashboard'">
          <div>
            <i class="fa-solid fa-user"></i>
            <span class="ml-2">Account</span>
          </div>
        </li>
        <li class="p-3 card mt-2 d-flex " onclick="window.location.href='/dashboard/orders'">
          <div>
            <i class="fa-solid fa-bag-shopping"></i>
            <span class="ml-2">Orders</span>
          </div>
        </li>
        <li class="p-3 card mt-2 d-flex " onclick="window.location.href='/dashboard/address'">
          <div>
            <i class="fa-solid fa-address-book"></i>
            <span class="ml-2">Address</span>
          </div>
        </li>
        <li class="p-3 card mt-2 d-flex bg-light" onclick="window.location.href='/dashboard/wallet'">
          <div>
            <i class="fa-solid fa-wallet"> </i>
            <span class="ml-2">Wallets</span>
          </div>
        </li>
        <li class="p-3 card mt-2 d-flex " onclick="window.location.href='/dashboard/security'">
          <div>
            <i class="fa-solid fa-lock"></i>
            <span class="ml-2">Security</span>
          </div>
        </li>
        <li class="p-3 card mt-2 d-flex " onclick="logout()">
          <div>
            <i class="fa-solid fa-right-from-bracket"></i>
            <span class="ml-2">Logout</span>
          </div>
        </li>
      </ul>
    </div>
    <div class="col-9">
      <div class="card h-100 p-4">

        <!-- Selection for account page -->
        <section class="account_dash">
          <!-- <div style="position: absolute ; top: 20px; right:30px; cursor: pointer;">
              <i class="fa-solid fa-ellipsis-vertical"></i>
            </div> -->

          <% if(locals?.wallet?.transactions?.length){ %>

          <div class="row">
            <div class="col-12">
              <h4>Wallet Total : <b><%= locals?.wallet?.amount+' Rs' %> </b></h4>
            </div>
          </div>

          <div class="row p-3">
            <ul class="col-12 wallet_list">
              <p>Last transactions</p>

              <% locals?.wallet?.transactions?.reverse()?.forEach(tr=>{ %>

              <li class="my-2 p-2 cr rounded px-3  ">
                <div class="d-flex justify-content-between">
                  <span><%= tr.message  %> </span>
                  <span><%= tr.flow == 'TO'? '+'+ tr.amount:'-'+tr.amount %> </span>
                </div>
                <div class="date"> <small><%=locals?.util?.dateToReadable(tr.date)%></small></div>
              </li>

              <% }); %>

            </ul>
          </div>

          <% }else{ %>

          <div class="row">
            <div class="col-12">
              <h4>Your wallet is empty !</h4>
              <p>Your wallet amount and transactions will be here, Start using wallet now</p>
            </div>
          </div>

          <%  }; %>

        </section>
        <!-- account page selection end -->

      </div>
    </div>
  </div>
  <script>
    function logout() {

      fetch('/user_logout', {
          method: 'POST',
          headers: {
            'Content-Type': 'application/json'
          },
          body: JSON.stringify({
            message: "log me out"
          })
        })
        .then(res => res.json())
        .then(res => {
          if (res.status == 'error') {
            disp({
              message: res.message,
              isGood: false
            })
          } else {
            window.location.href = res.action;
          };
        })
        .catch(error => {
          disp({
            message: error,
            isGood: false
          });
        });
    };
  </script>
</section>