<section class="container-fluid" style="background-image: url('/assets/images/page-header-bg.jpg')">
  <div class="container">
    <h2 class="pt-4"><b>Explore and find your favorate products </b></h2>
    <p class="pb-4" style="text-transform: capitalize;">Nester <%= locals?.currentPage?' > '+locals.currentPage:'' %> </p>
  </div>
</section>

<!-- Hero Section Begin -->
<section class="">
  <% let bannerUse = locals?.banner?.docs[locals?.banner?.docs?.length-1]; %>

    <style>
      .banner-cont {
        position: absolute;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        padding: 50px;
        display: flex;
        align-items: flex-start;
        justify-content: center;
        flex-direction: column;
      }

      .bannerID {
        position: absolute;
        top: 20px;
        right: 20px;
        background-color: rgb(255, 255, 255);
        padding: 5px 10px;
        border-radius: 5px;
        z-index: 10;
      }
    </style>

    <!-- banner cards -->
    <div class="col-12 border grid-margin stretch-card container mt-5" id="formCustomForm">
      <div class="rounded mt-5" style="background-color: <%-bannerUse?.bg%>; min-height:300px;">
        <div class="card-body position-relative">
          <div class="d-flex justify-content-end">
            <img src="/banner_images/<%= bannerUse?.bannerID %>.jpg" style="max-height: 300px;" class="img-fluid" alt="">
          </div>
          <div class="banner-cont" style="color: <%-bannerUse?.color%>;">
            <p class="sub-top"><%=bannerUse?.titleTop %> </p>
            <h2 class="title"><%= bannerUse?.title %> </h2>
            <h4><%= bannerUse?.description %> </h4>
            <p class="sub-bottom"><b><%= bannerUse?.titleBottom %></b> </p>
            <a class="btn btn-dark" href="<%= bannerUse?.btnAction %>">
              <%=bannerUse?.btnName%>
            </a>
          </div>
        </div>
      </div>
    </div>

</section>


<div class="container mb-3 my-md-5 ">
  <h4 class="my-3 text-center">Top Products</h4>
  <div class="row">
    <% locals?.topSellingProducts?.forEach(e=>{ %>
    <div class="col-12 col-md-6 px-md-0">
      <div class="card p-3 m-1" onclick="window.location.href='/product/<%=e.product[0].PID%>'" style='cursor: pointer;'>
        <div class="row">
          <div class="col-5">
            <img src="/product_images/<%= e.product[0].PID %>1.jpg " class="img-fluid" alt="">
          </div>
          <div class="col-7">
            <h6 class="limit_lines_css l-3" style="cursor: pointer;"><%= e.product[0].title %> </h6>

            <span class="text-dark mt-1 mb-0">
              <b><%= e.product[0].price - e.product[0].offer%> Rs</b>
            </span>
            <% if(e.product[0].offer){ %>
            <b class="text-danger"><%= e.product[0].offer%>Rs Off </b>
            <s>
              <b>
                <p class="m-0">MRP : <%= e.product[0].price %> Rs </p>
              </b>
            </s>
            <br>
            <span class="bg-danger text-white px-3"><%= e.product[0].stock!=0?e.product[0].stock<10?`Only ${e.product[0].stock} left`:'In Stock':'Out of stock' %> </span>
            <% }else{ %>
            <br><br>
            <span class="bg-danger text-white px-3"><%= e.product[0].stock!=0?e.product[0].stock<10?`Only ${e.product[0].stock} left`:'In Stock':'Out of stock' %> </span>
            <% }; %>

          </div>
        </div>
      </div>
    </div>
    <% }); %>
  </div>
</div>

<!-- Banner Begin -->
<div class="banner">
  <div class="container">
    <div class="row">
      <div class="col-lg-6 col-md-6 col-sm-6">
        <div class="banner__pic">
          <img src="img/banner/banner-1.jpg" alt="">
        </div>
      </div>
      <div class="col-lg-6 col-md-6 col-sm-6">
        <div class="banner__pic">
          <img src="img/banner/banner-2.jpg" alt="">
        </div>
      </div>
    </div>
  </div>
</div>
<!-- Banner End -->

<!-- Latest Product Section Begin -->
<section class="latest-product spad d-md-none mb-5">
  <div class="container">
    <div class="row">

      <div class="col-lg-4 col-md-6">
        <div class="latest-product__text">
          <h4>Top Rated Products</h4>
          <div class="latest-product__slider owl-carousel">

            <div class="latest-prdouct__slider__item">
              <% locals?.topSellingProducts?.reverse().forEach(e=>{ %>
              <a href="/product/<%= e.product[0].PID %> " class="latest-product__item">
                <div class="latest-product__item__pic">
                  <img src="/product_images/<%= e.product[0].PID %>1.jpg " alt="">
                </div>
                <div class="latest-product__item__text">
                  <h6><b><%= e.product[0].category %></b> </h6>
                  <p class="limit_lines_css l-3"><%= e.product[0].title %> </p>
                  <span><%= e.product[0].price - e.product[0].offer %> Rs </span>
                </div>
              </a>
              <% }); %>
            </div>

          </div>
        </div>
      </div>

    </div>
  </div>
</section>
<!-- Latest Product Section End -->

<!-- Blog Section Begin -->
<!-- <section class="from-blog spad">
  <div class="container">
    <div class="row">
      <div class="col-lg-12">
        <div class="section-title from-blog__title">
          <h2>From The Blog</h2>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-4 col-md-4 col-sm-6">
        <div class="blog__item">
          <div class="blog__item__pic">
            <img src="img/blog/blog-1.jpg" alt="">
          </div>
          <div class="blog__item__text">
            <ul>
              <li><i class="fa fa-calendar-o"></i> May 4,2019</li>
              <li><i class="fa fa-comment-o"></i> 5</li>
            </ul>
            <h5><a href="#">Cooking tips make cooking simple</a></h5>
            <p>Sed quia non numquam modi tempora indunt ut labore et dolore magnam aliquam quaerat </p>
          </div>
        </div>
      </div>
      <div class="col-lg-4 col-md-4 col-sm-6">
        <div class="blog__item">
          <div class="blog__item__pic">
            <img src="img/blog/blog-2.jpg" alt="">
          </div>
          <div class="blog__item__text">
            <ul>
              <li><i class="fa fa-calendar-o"></i> May 4,2019</li>
              <li><i class="fa fa-comment-o"></i> 5</li>
            </ul>
            <h5><a href="#">6 ways to prepare breakfast for 30</a></h5>
            <p>Sed quia non numquam modi tempora indunt ut labore et dolore magnam aliquam quaerat </p>
          </div>
        </div>
      </div>
      <div class="col-lg-4 col-md-4 col-sm-6">
        <div class="blog__item">
          <div class="blog__item__pic">
            <img src="img/blog/blog-3.jpg" alt="">
          </div>
          <div class="blog__item__text">
            <ul>
              <li><i class="fa fa-calendar-o"></i> May 4,2019</li>
              <li><i class="fa fa-comment-o"></i> 5</li>
            </ul>
            <h5><a href="#">Visit the clean farm in the US</a></h5>
            <p>Sed quia non numquam modi tempora indunt ut labore et dolore magnam aliquam quaerat </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section> -->
<!-- Blog Section End -->