<section class="container-fluid" style="background-image: url('/assets/images/page-header-bg.jpg')">
  <div class="container">
    <h2 class="pt-4"><b>Explore and find your favorate products </b></h2>
    <p class="pb-4" style="text-transform: capitalize;">Nester <%= locals?.currentPage?' > '+locals.currentPage:'' %> </p>
  </div>
</section>

<!-- Hero Section Begin -->
<% let bannerUse = locals?.banner?.docs[locals?.banner?.docs?.length-1]; %>

<section class="container position-relative p-0" style="overflow: hidden; background-color: <%-bannerUse?.bg%>;">
  <div class="row">
    <div class="col-12 col-md-12">
      <img src="/banner_images/<%= bannerUse?.bannerID %>.jpg" class="img-fluid" alt="">
    </div>
    <div class="col-12 d-none col-md-12 d-md-flex justify-content-end p-5 h-100 align-items-center position-absolute">
      <div>
        <p style="color: <%-bannerUse?.color%>;" class="sub-top"><%=bannerUse?.titleTop %> </p>
        <h2 style="color: <%-bannerUse?.color%>;" class="title"><%= bannerUse?.title %> </h2>
        <h4 style="color: <%-bannerUse?.color%>;"><%= bannerUse?.description %> </h4>
        <p style="color: <%-bannerUse?.color%>;" class="sub-bottom"><b><%= bannerUse?.titleBottom %></b> </p>
        <a style="color: <%-bannerUse?.color%>;" class="btn btn-dark" href="<%= bannerUse?.btnAction %>">
          <%=bannerUse?.btnName%>
        </a>
      </div>
    </div>
    <div class="col-12 d-md-none col-md-12 d-flex justify-content-end p-5 h-100 align-items-center">
      <div>
        <p style="color: <%-bannerUse?.color%>;" class="sub-top"><%=bannerUse?.titleTop %> </p>
        <h2 style="color: <%-bannerUse?.color%>;" class="title"><%= bannerUse?.title %> </h2>
        <h4 style="color: <%-bannerUse?.color%>;"><%= bannerUse?.description %> </h4>
        <p style="color: <%-bannerUse?.color%>;" class="sub-bottom"><b><%= bannerUse?.titleBottom %></b> </p>
        <a style="color: <%-bannerUse?.color%>;" class="btn btn-dark" href="<%= bannerUse?.btnAction %>">
          <%=bannerUse?.btnName%>
        </a>
      </div>
    </div>
  </div>
</section>

<div class="container mb-3 my-md-5 ">
  <h4 class="my-3 text-center">Top Products</h4>
  <div class="row">
    <% locals?.topSellingProducts?.forEach(e=>{ %>
    <div class="col-12 col-md-6 px-md-0">
      <div class="card p-3 m-1" onclick="window.location.href='/product/<%=e.product[0].PID%>'" style='cursor: pointer;'>
        <div class="row">
          <div class="col-5">
            <img src="/product_images/<%= e.product[0].PID %>1.jpg " class="img-fluid" alt="">
          </div>
          <div class="col-7">
            <h6 class="limit_lines_css l-3" style="cursor: pointer;"><%= e.product[0].title %> </h6>

            <span class="text-dark mt-1 mb-0">
              <b><%= e.product[0].price - e.product[0].offer%> Rs</b>
            </span>
            <% if(e.product[0].offer){ %>
            <b class="text-danger"><%= e.product[0].offer%>Rs Off </b>
            <s>
              <b>
                <p class="m-0">MRP : <%= e.product[0].price %> Rs </p>
              </b>
            </s>
            <br>
            <span class="bg-danger text-white px-3"><%= e.product[0].stock!=0?e.product[0].stock<10?`Only ${e.product[0].stock} left`:'In Stock':'Out of stock' %> </span>
            <% }else{ %>
            <br><br>
            <span class="bg-danger text-white px-3"><%= e.product[0].stock!=0?e.product[0].stock<10?`Only ${e.product[0].stock} left`:'In Stock':'Out of stock' %> </span>
            <% }; %>

          </div>
        </div>
      </div>
    </div>
    <% }); %>
  </div>
</div>

<!-- Banner Begin -->
<!-- <div class="banner">
  <div class="container">
    <div class="row">
      <div class="col-lg-6 col-md-6 col-sm-6">
        <div class="banner__pic">
          <img src="img/banner/banner-1.jpg" alt="">
        </div>
      </div>
      <div class="col-lg-6 col-md-6 col-sm-6">
        <div class="banner__pic">
          <img src="img/banner/banner-2.jpg" alt="">
        </div>
      </div>
    </div>
  </div>
</div> -->
<!-- Banner End -->

<!-- Latest Product Section Begin -->
<section class="latest-product spad d-md-none mb-5">
  <div class="container">
    <div class="row">

      <div class="col-lg-4 col-md-6">
        <div class="latest-product__text">
          <h4>Top Rated Products</h4>
          <div class="latest-product__slider owl-carousel">

            <div class="latest-prdouct__slider__item">
              <% locals?.topSellingProducts?.reverse().forEach(e=>{ %>
              <a href="/product/<%= e.product[0].PID %> " class="latest-product__item">
                <div class="latest-product__item__pic">
                  <img src="/product_images/<%= e.product[0].PID %>1.jpg " alt="">
                </div>
                <div class="latest-product__item__text">
                  <h6><b><%= e.product[0].category %></b> </h6>
                  <p class="limit_lines_css l-3"><%= e.product[0].title %> </p>
                  <span><%= e.product[0].price - e.product[0].offer %> Rs </span>
                </div>
              </a>
              <% }); %>
            </div>

          </div>
        </div>
      </div>

    </div>
  </div>
</section>
<!-- Latest Product Section End -->