<section class="container-fluid" style="background-image: url('/assets/images/page-header-bg.jpg')">
  <div class="container">
    <h2 class="pt-4"><b>Flash sales store</b></h2>
    <p class="pb-4" style="text-transform: capitalize;">Nester <%= locals?.currentPage?' > '+locals.currentPage:'' %> </p>
  </div>
</section>

<!-- Breadcrumb Section Begin -->
<!-- <section class="breadcrumb-section set-bg" data-setbg="img/breadcrumb.jpg">
   <div class="container">
     <div class="row">
       <div class="col-lg-12 text-center">
         <div class="breadcrumb__text">
           <h2>Organi Shop</h2>
           <div class="breadcrumb__option">
             <a href="./index.html">Home</a>
             <span>Shop</span>
           </div>
         </div>
       </div>
     </div>
   </div>
 </section> -->
<!-- Breadcrumb Section End -->

<!-- Product Section Begin -->
<section class="mt-0">
  <div class="container">
    <div class="row">
      <div class="col-lg-2 col-md-5">
        <div class="sidebar">
          <div class="sidebar__item">
            <h4>Categorys</h4>
            <ul>
              <% if(locals.categorys){ %>
              <% for(let i=0; i<locals.categorys.length; i++){if(i<10){ %>
              <li><a href="/c/<%= categorys[i]?.category %> " style="text-transform: capitalize;"> <%= categorys[i]?.category %> </a></li>
              <%} };%>
              <% }; %>
            </ul>
          </div>

          <!-- TODO : custom price range filter -->
          <!-- <div class="sidebar__item">
            <h4>Price</h4>
            <div class="price-range-wrap">
              <div class="price-range ui-slider ui-corner-all ui-slider-horizontal ui-widget ui-widget-content" data-min="10" data-max="540">
                <div class="ui-slider-range ui-corner-all ui-widget-header"></div>
                <span tabindex="0" class="ui-slider-handle ui-corner-all ui-state-default"></span>
                <span tabindex="0" class="ui-slider-handle ui-corner-all ui-state-default"></span>
              </div>
              <div class="range-slider">
                <div class="price-input">
                  <input type="text" id="minamount">
                  <input type="text" id="maxamount">
                </div>
              </div>
            </div>
          </div> -->
        </div>
      </div>


      <div class="col-lg-10 col-md-7">
        <div class="product__discount">
          <div class="section-title product__discount__title">
            <h2>Sale Off</h2>
          </div>

          <div class="row">
            <% locals?.products?.forEach((product,index)=>{ %>
            <div class="col-12 col-md-6 px-md-0">
              <div class="card p-3 m-1" onclick="window.location.href='/product/<%=product.PID%>'" style='cursor: pointer;'>
                <div class="row">
                  <div class="col-5">
                    <img src="/product_images/<%= product.PID %>1.jpg " class="img-fluid" alt="">
                  </div>
                  <div class="col-7">
                    <h6 class="limit_lines_css l-3" style="cursor: pointer;"><%= product.title %> </h6>

                    <span class="text-dark mt-1 mb-0">
                      <b><%= product.price - product.offer%> Rs</b>
                    </span>
                    <% if(product.offer){ %>
                    <b class="text-danger"><sup> - <%= product.offer%>Rs OFF </sup></b>
                    <s>
                      <b>
                        <p class="m-0">MRP : <%= product.price %> Rs </p>
                      </b>
                    </s>
                    <br>
                    <span class="bg-danger text-white px-3"><%= product.stock!=0?product.stock<10?`Only ${product.stock} stock is avaiable`:'In Stock':'Out of stock' %> </span>
                    <% }else{ %>
                    <br><br>
                    <span class="bg-danger text-white px-3"><%= product.stock!=0?product.stock<10?`Only ${product.stock} stock is avaiable`:'In Stock':'Out of stock' %> </span>
                    <% }; %>

                  </div>
                </div>
              </div>
            </div>
            <% }); %>
          </div>
        </div>

        <!-- <div class="product__pagination mb-5">
          <a href="#">1</a>
          <a href="#">2</a>
          <a href="#">3</a>
          <a href="#"><i class="fa fa-long-arrow-right"></i></a>
        </div> -->

      </div>
    </div>
  </div>
</section>
<!-- Product Section End -->