<section class="container-fluid" style="background-image: url('/assets/images/page-header-bg.jpg')">
  <div class="container">
    <h2 class="pt-4"><b>Wishlist</b></h2>
    <p class="pb-4" style="text-transform: capitalize;">Nester <%= locals?.currentPage?' > '+locals.currentPage:'' %> </p>
  </div>
</section>

<main class="main">

  <div class="page-content">
    <div class="container my-4">

      <% if(locals.wishlist?.length!=0) locals?.wishlist?.forEach(e=>{ %>

      <div class="card p-4 mt-3">
        <div class="row">
          <div class="col-12 col-md-2">
            <img src="/product_images/<%= e.products.PID %>1.jpg" class="img-fluid" alt="">
          </div>
          <div class="col-12 col-md-10 mt-3 mt-md-0">
            <span class="bg-danger text-white px-3"><%= e.doc[0].stock!=0?e.stock<10?`Only ${e.stock} left`:'In Stock':'Out of stock' %> </span><br><br>
            <h6 class="limit_lines_css l-3" style="cursor: pointer;"><%= e.doc[0].title %> </h6>

            <span class="text-dark mt-1 mb-0">
              <b><%= e.doc[0].price - e.doc[0].offer%> Rs</b>
            </span>
            <% if(e.doc[0].offer){ %>
            <b class="text-danger"><%= e.doc[0].offer%>Rs Off </b>
            <s>
              <b>
                <p class="m-0">MRP : <%= e.doc[0].price %> Rs </p>
              </b>
            </s>
            <% } %>
            <div class="mt-4">
              <div class="btn btn-dark rounded d-none d-md-inline m-0 align-items-center" onclick="addToCart('<%=e.products.PID%>')"> Add to cart </div>
              <div class="btn btn-dark rounded w-100 d-md-none py-3" onclick="addToCart('<%=e.products.PID%>')">Add to cart</div>
              <div class="btn btn-dark rounded d-none d-md-inline m-0 align-items-center ml-2" onclick="removeFromWishlist('<%=e.products.PID%>',this.parentElement.parentElement.parentElement.parentElement)"> Remove </div>
              <div class="btn btn-dark rounded w-100 d-md-none py-3 mt-2" onclick="removeFromWishlist('<%=e.products.PID%>',this.parentElement.parentElement.parentElement.parentElement)">Remove</div>
            </div>

          </div>
        </div>
      </div>

      <% }); else { %>

      <div class="page-content mb-5" id="cartlock">
        <div class="container">
          <div class="card bg-none p-5 text-center border-none">
            <h4 class="mt-5">Your wish list is empty !</h4>
            <div class="mt-4 mb-5">
              <button class="btn btn-dark rounded" onclick="window.location.href='/shop'">Continue shopping</button>
            </div>
          </div>
        </div>
      </div>

      <% }; %>

    </div><!-- End .container -->
  </div><!-- End .page-content -->
</main><!-- End .main -->
<script>
  async function removeFromWishlist(PID, removable) {
    try {

      // sending request to server
      const resFromServer = await fetch(`/wishlist/${(PID+"").trim()}`, {
        method: "DELETE"
      });

      // parsing response
      const res = await resFromServer.json();

      console.log(res);

      if (res.status == 'error') throw res.messsage;
      
      window.location.reload();

    } catch (error) {
      // handling error
      notify(error);
    };
  };
</script>