<!-- Humberger Begin -->
<div class="humberger__menu__overlay" style="z-index: 100;"></div>
<div class="humberger__menu__wrapper" style="z-index: 101;">
  <div class="humberger__menu__logo">
    <a href="#"><img src="/img/logo.png" alt=""></a>
  </div>
  <div class="humberger__menu__cart">
    <ul>
      <li><a href="#"><i class="fa fa-heart"></i> <span>1</span></a></li>
      <li><a href="#"><i class="fa fa-shopping-bag"></i> <span>3</span></a></li>
    </ul>
    <div class="header__cart__price">item: <span>$150.00</span></div>
  </div>
  <div class="humberger__menu__widget">
    <div class="header__top__right__language">
      <img src="/img/language.png" alt="">
      <div>English</div>
      <span class="arrow_carrot-down"></span>
      <ul>
        <li><a href="#">Spanis</a></li>
        <li><a href="#">English</a></li>
      </ul>
    </div>
    <div class="header__top__right__auth">
      <a href="#"><i class="fa fa-user"></i> Login</a>
    </div>
  </div>
  <nav class="humberger__menu__nav mobile-menu">
    <ul>
      <li class="<%=locals.currentPage=='home'?'active':'';%>"><a href="/">Home</a></li>
      <li class="<%=locals.currentPage=='shop'?'active':'';%>"><a href="/shop">Shop</a></li>
      <li class="<%=locals.currentPage=='cart'?'active':'';%>"><a href="/cart">cart</a></li>
      <li class="<%=locals.currentPage=='wishlist'?'active':'';%>"><a href="/wishlist">Wishlist</a></li>
      <li class="<%=locals.currentPage=='dashboard'?'active':'';%>"><a href="/dashboard">Dashboard</a></li>
    </ul>
  </nav>
  <div id="mobile-menu-wrap"></div>
  <div class="header__top__right__social">
    <a href="#"><i class="fa fa-facebook"></i></a>
    <a href="#"><i class="fa fa-twitter"></i></a>
    <a href="#"><i class="fa fa-linkedin"></i></a>
    <a href="#"><i class="fa fa-pinterest-p"></i></a>
  </div>
  <div class="humberger__menu__contact">
    <ul>
      <li><i class="fa fa-envelope"></i> hello@colorlib.com</li>
      <li>Free Shipping for all Order of $99</li>
    </ul>
  </div>
</div>
<!-- Humberger End -->

<nav class="custom-navbar bg-light">

  <div class="left-cont">
    <div class="logo">
      <a href="/"><img src="/img/logo.png" alt=""></a>
    </div>
  </div>

  <div class="middle-cont">
    <input type="text" placeholder="What do yo u need?" id="search_input">
    <button type="submit" class="site-btn">SEARCH</button>
    <ul class="search-results container bg-white" id="search_result_container">
      <li>First resutl</li>
    </ul>
  </div>

  <div class="right-cont">
    <a href="/wishlist"><i class="fa fa-heart"></i> <span>1</span></a>
    <a href="/cart" class="text-primary"><i class="fa fa-shopping-bag"></i> <span id="cart_total_count"><%=locals?.cartProducts?locals?.cartProducts[0]?locals?.cartProducts[0].totalCount?locals.cartProducts[0].totalCount:0:0:0%> </span></a>
    <a href="/dashboard" class="text-primary user-icn"><i class="fa-solid fa-user"></i><span>Manage</span></a>
  </div>

</nav>

<div class="search-bg">
</div>

<script>
  document.getElementById('search_input').addEventListener('keyup', (e) => {
    search(e.target.value);
  })

  async function search(query) {
    console.log(query);
    try {

      const data = await fetch(`/api/search?q=${query?.trim()}`, {
        method: 'GET'
      });

      const res = await data.json();

      if (res.status == 'error') throw res.message;

      const result_cont = document.getElementById('search_result_container');
      const searchResult = res.message;

      result_cont.innerHTML = '';

      searchResult.forEach(e => {
        result_cont.innerHTML += `<li>   <img src="/product_images/${e.PID}1.jpg" alt=""> <a class="text-primary" href="/product/${e.PID}">${e.title}</a></li>`
      });

      if (!searchResult?.length || searchResult?.length == 0) {
        result_cont.innerHTML = 'No result found';
      };

    } catch (error) {
      notify(error);
    };
  }
</script>

<br><br><br><br><br><br>