<header class="header header-intro-clearance header-3">


  <div class="header-middle">
    <div class="container">
      <div class="header-left">
        <button class="mobile-menu-toggler">
          <span class="sr-only">Toggle mobile menu</span>
          <i class="icon-bars"></i>
        </button>

        <a href="/" class="logo">
          <img src="/assets/images/demos/demo-3/logo.png" alt="Reminz Logo" width="105" height="25">
        </a>
      </div><!-- End .header-left -->

      <div class="header-center">
        <div class="header-search header-search-extended header-search-visible d-none d-lg-block">
          <a href="#" class="search-toggle" role="button"><i class="icon-search"></i></a>
          <form action="#" method="get">
            <div class="header-search-wrapper search-wrapper-wide">
              <label for="q" class="sr-only">Search</label>
              <button class="btn btn-primary" type="submit"><i class="icon-search"></i></button>
              <input type="search" class="form-control" name="q" id="q" placeholder="Search product ..." required>
            </div><!-- End .header-search-wrapper -->
          </form>
        </div><!-- End .header-search -->
      </div>

      <!-- <div class="header-right" >
                <% if(!locals.user){ %>
                    <h6 class="text-white p-3 mb-0 bg-primary rounded" onclick="window.location.href='/user_signin'" style="cursor: pointer;">Login</h6>
                <% }; %>  
                
            </div>End .header-right -->
      <div class="header-right ">
        <% if(locals.user){ %>
        <div class="wishlist">
          <a href="/dashboard" title="My account">
            <div class="icon">
              <i class="icon-user"></i>
            </div>
            <p>
              <%= user.name?user.name:Account %>
            </p>
          </a>
        </div>

        <div class="wishlist">
          <a href="/wishlist" title="Wishlist">
            <div class="icon">
              <i class="icon-heart-o"></i>
              <span class="wishlist-count badge">3</span>
            </div>
            <p>Wishlist</p>
          </a>
        </div>


        <div class="cart-dropdown">
          <a href="/cart" class="dropdown-toggle">
            <div class="icon">
              <i class="icon-shopping-cart"></i>
              <span class="cart-count" id="cart_total_count"><%=locals?.cartProducts[0]?.totalCount?locals.cartProducts[0].totalCount:0%> </span>
            </div>
            <p>Cart</p>
          </a>
        </div>

        <% } else{%>
        <a href="/user_signin"><button class="btn btn-primary" type="button">
            Login
          </button></a>
        <% }%>

      </div><!-- End .header-right -->
    </div><!-- End .container -->
  </div><!-- End .header-middle -->

  <div class="header-bottom sticky-header">
    <div class="container">
      <div class="header-left">
        <div class="dropdown category-dropdown">
          <a href="#" class="dropdown-toggle" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" data-display="static" title="Browse Categories">
            Browse Categories <i class="icon-angle-down"></i>
          </a>

          <div class="dropdown-menu">
            <nav class="side-nav">
              <ul class="menu-vertical sf-arrows">
                <li class="item-lead"><a href="#">Daily offers</a></li>
                <li class="item-lead"><a href="#">Common parts</a></li>
                <% if(locals.categorys){ %>
                <% for(let i=0; i<locals.categorys.length; i++){if(i<10){ %>
                <li><a href="#">
                    <%= categorys[i]?.category %>
                  </a></li>
                <%} };%>
                <% }; %>
              </ul><!-- End .menu-vertical -->
            </nav><!-- End .side-nav -->
          </div><!-- End .dropdown-menu -->
        </div><!-- End .category-dropdown -->
      </div><!-- End .header-left -->

      <div class="header-center">
        <nav class="main-nav">
          <ul class="menu sf-arrows">
            <li class="<%=locals.currentPage=='home'?'active':'';%>">
              <a href="/">Home</a>
            </li>
            <li class="<%=locals.currentPage=='shop'?'active':'';%>">
              <a href="/shop">Shop</a>
            </li>
            <%if(locals.user){%>
            <li class="<%=locals.currentPage=='cart'?'active':'';%>">
              <a href="/cart">Cart</a>
            </li>
            <li class="<%=locals.currentPage=='wishlist'?'active':'';%>">
              <a href="/wishlist">Wishlist</a>
            </li>
            <li class="<%=locals.currentPage=='dashboard'?'active':'';%>">
              <a href="/dashboard">My Account</a>
            </li>
            <%};%>
          </ul><!-- End .menu -->
        </nav><!-- End .main-nav -->
      </div><!-- End .header-center -->

      <div class="header-right">
        <!-- <i class="la la-lightbulb-o"></i><p>Signup now and get<span class="highlight">&nbsp;Up to 30% Off</span></p> -->
        <p>Enjoy the purchase</p>
      </div>
    </div><!-- End .container -->
  </div><!-- End .header-bottom -->
</header><!-- End .header -->