<main class="main animate__animated animate__fadeIn">
  <div class="page-header text-center" style="background-image: url('assets/images/page-header-bg.jpg')">
    <div class="container">
      <h1 class="page-title">Shopping Cart<span>Shop</span></h1>
    </div><!-- End .container -->
  </div><!-- End .page-header -->
  <nav aria-label="breadcrumb" class="breadcrumb-nav">
    <div class="container">
      <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="/">Home</a></li>
        <li class="breadcrumb-item active" aria-current="page">Shopping Cart</li>
      </ol>
    </div><!-- End .container -->
  </nav><!-- End .breadcrumb-nav -->

  <div class="page-content" id="cartlock" <% if(locals?.cartProducts?.length>0){ %> style="display:none;" <% } %>>
    <div class="container">
      <div class="card bg-none p-5 text-center border-none">
        <h4 class="mt-5">Your cart is empty</h4>
        <button class="btn btn-primary mt-2 mb-5 rounded" onclick="window.location.href='/shop'">Continue shopping</button>
      </div>
    </div>
  </div>

  <div class="page-content" id="cartHook" <% if(locals?.cartProducts?.length==0){ %> style="display:none;" <% } %>>
    <div class="cart">
      <div class="container">
        <div class="row">
          <div class="col-lg-9">
            <table class="table table-cart table-mobile">
              <thead>
                <tr>
                  <th>Product</th>
                  <th>Price</th>
                  <th>Quantity</th>
                  <th>Total</th>
                  <th></th>
                </tr>
              </thead>

              <tbody>
                <% locals?.cartProducts.forEach(e=>{ %>
                <tr>
                  <td class="product-col">
                    <div class="product bg-none">
                      <figure class="product-media">
                        <a href="/product/<%= e.PID %> ">
                          <img src="/product_images/<%=e.PID%>1.jpg" alt="Product image">
                        </a>
                      </figure>

                      <h3 class="product-title">
                        <a href="/product/<%=e.PID%>">
                          <%=e.title%>
                        </a>
                      </h3><!-- End .product-title -->
                    </div><!-- End .product -->
                  </td>
                  <td class="price-col">
                    <% if(e.offer){ %>
                    <s style="color: #ff8b8b;">₹<%=e.price%></s>&nbsp;<%= e.price-e.offer %>
                    <% }else{ %>
                    ₹ <%=e.price%>
                    <% }; %>
                  </td>
                  <td class="quantity-col">
                    <div class="cart-product-quantity">
                      <input type="number" class="form-control" value="<%=e.quantity%>" min="1" max="1000" step="1" data-decimals="0" required onchange="updateProductQuantity('<%=e.PID%>',this)">
                    </div><!-- End .cart-product-quantity -->
                  </td>
                  <td class="total-col">₹ <%=e.quantity*(e.price-e.offer)%>
                  </td>
                  <td class="remove-col">
                    <button class="btn-remove" onclick="deleteFromCart('<%=e.PID%>',this.parentElement.parentElement)"><i class="icon-close"></i></button>
                  </td>
                </tr>
                <% }); %>
                <p>
                  <% locals.cartProducts?'':'Products added to cart will be listed here' %>
                </p>
              </tbody>
            </table><!-- End .table table-wishlist -->


          </div><!-- End .col-lg-9 -->

          <aside class="col-lg-3">
            <div class="summary summary-cart">
              <h3 class="summary-title">Cart Total</h3><!-- End .summary-title -->

              <table class="table table-summary">
                <tbody>


                  <tr class="summary-total">
                    <td>Total:</td>
                    <td id="display_subtotal">₹ <%= locals?.cartProducts[0]?.subTotal?locals?.cartProducts[0]?.subTotal:0 %>
                    </td>
                  </tr><!-- End .summary-total -->
                </tbody>
              </table><!-- End .table table-summary -->

              <a href="checkout.html" class="btn btn-outline-primary-2 btn-order btn-block">PROCEED TO
                CHECKOUT</a>
            </div><!-- End .summary -->

            <a href="/shop" class="btn btn-outline btn-block mb-3"><span>CONTINUE
                SHOPPING</span><i class="icon-refresh"></i></a>
          </aside><!-- End .col-lg-3 -->
        </div><!-- End .row -->
      </div><!-- End .container -->
    </div><!-- End .cart -->
  </div><!-- End .page-content -->
</main><!-- End .main -->

<script>
  function cartEmpty() {
    document.getElementById('cartHook').style.display = 'none';
    document.getElementById('cartlock').style.display = 'block';
  }

  function cartContains() {
    document.getElementById('cartHook').style.display = 'block';
    document.getElementById('cartlock').style.display = 'none';
  }

  function deleteFromCart(PID, deletable) {
    Swal.fire({
        title: 'Delete product ?',
        icon: 'info',
        showCancelButton: true,
        confirmButtonText: 'Delete',
      })
      .then(result => {
        if (result?.isConfirmed) updateProductQuantity(PID, 0, true, deletable);
      });
  };
  const updateProductQuantity = (PID, quantityToSet, isDeleteFromCart, deletable) => {

    const subTotal = document.getElementById("display_subtotal");

    fetch('/cart_action', {
        method: `${isDeleteFromCart ? 'DELETE' : 'PUT'}`,
        headers: {
          'Content-Type': 'application/json'
        },
        body: JSON.stringify({
          PID: PID,
          quantity: quantityToSet.value
        })
      })
      .then(res => res.json())
      .then(res => {
        if (res.status == 'good') {
          if (isDeleteFromCart) {
            deletable.remove();
            const value = res.message?.subTotal ? res.message?.subTotal : 0;
            subTotal.innerText = `₹ ${value}`;
            document.getElementById("cart_total_count").innerText = res.message.totalCount;
            if (res.message.totalCount == 0) cartEmpty();
          } else {
            quantityToSet.parentElement.parentElement.parentElement
              .querySelector('td.total-col').innerText = `₹ ${res.message.product.total}`;
            subTotal.innerText = `₹ ${res.message.subTotal}`;
            document.getElementById("cart_total_count").innerText = res.message.totalCount;
            if (res.message.totalCount != 0) cartContains();
          };
        }
      })
      .catch(error => console.log(error));
  };
</script>