<main class="main">
  <div class="page-header text-center" style="background-image: url('assets/images/page-header-bg.jpg')">
    <div class="container">
      <h1 class="page-title">Checkout<span>Shop</span></h1>
    </div><!-- End .container -->
  </div><!-- End .page-header -->
  <nav aria-label="breadcrumb" class="breadcrumb-nav">
    <div class="container">
      <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="index.html">Home</a></li>
        <li class="breadcrumb-item"><a href="#">Shop</a></li>
        <li class="breadcrumb-item active" aria-current="page">Checkout</li>
      </ol>
    </div><!-- End .container -->
  </nav><!-- End .breadcrumb-nav -->

  <div class="page-content">
    <div class="checkout">
      <div class="container">
        <h2 class="checkout-title">Your address<small>&nbsp;( by default your primary adderss is selected
            )</small>
        </h2><!-- End .checkout-title -->

        <div>
          <% locals?.address?.forEach((e,i)=>{ %>

          <input type="radio" id="address<%= i %>" name="address" value="<%=e._id%>" <% if(i==0){ %> checked <% } %> data-ID="<%= e._id %> ">
          <label for="address<%= i %>" style="text-transform: capitalize;  cursor: pointer; ">
            <%=e.name%>, <%=e.town%>, <%=e.state%>, <%=e.country%> - <%=e.phone%> ,
            <span style="text-transform: lowercase;">
              <%=e.email%>
            </span>
          </label><br>

          <% }); %>

        </div> <br>
        <div>
          <div class="row">
            <div class="col-lg-9">

              <input type="radio" id="address-1" name="address" value="-1" <%if(locals?.address?.length){ %> <% }else{ %> checked <% }; %>>
              <label for="address-1" style="text-transform: capitalize;  cursor: pointer; ">
                Click here to type new address
              </label><br><br>

              <div class="row">
                <div class="col-sm-6">
                  <label class="labelInputForInput">First
                    Name * <span></span></label>
                  <input id="firstNameInput" type="text" class="form-control" value="<%= locals?.address[0]?.name?.split(' ')[0] %>" required>
                </div><!-- End .col-sm-6 -->

                <div class="col-sm-6">
                  <label class="labelInputForInput">Last
                    Name * <span></span></label>
                  <input id="lastNameInput" type="text" class="form-control" value="<%= locals?.address[0]?.name?.split(' ')?.slice(1)?.join(" ") %>" required>
                </div><!-- End .col-sm-6 -->
              </div><!-- End .row -->

              <div>
                <label class="labelInputForInput">State
                  * <span></span></label>
                <input id="stateInput" type="text" class="form-control" value="<%= locals?.address[0]?.state %>" required>
              </div>

              <div>
                <label class="labelInputForInput">Street
                  address * <span></span></label>
                <input id="streetNumber" type="text" class="form-control" value="<%= locals?.address[0]?.streetNumber %>" placeholder="Street number / name" required>
                <input id="houseNumber" type="text" class="form-control" value="<%= locals?.address[0]?.houseNumber%>" placeholder="Appartments, suite, House number etc ..." required>
              </div>

              <div class="row">
                <div class="col-sm-6">
                  <label class="labelInputForInput">Town
                    / City * <span></span> </label>
                  <input id="townInput" type="text" class="form-control" value="<%= locals?.address[0]?.town%>" required>
                </div><!-- End .col-sm-6 -->

                <div class="col-sm-6">
                  <label class="labelInputForInput">Country
                    * <span></span></label>
                  <select class=" form-control" name="country" id="countryInput">
                    <option value="<%=locals?.address[0]?.countryCode%>"><%= locals?.address[0]?.country?locals?.address[0]?.country:'Select you country'%></option>
                    <% locals?.country?.forEach(e=>{ %>
                    <option value="<%= e.code %>">
                      <%- e.name %>
                    </option>
                    <% }) %>
                  </select>
                </div><!-- End .col-sm-6 -->
              </div><!-- End .row -->

              <div class="row">
                <div class="col-sm-6">
                  <label class="labelInputForInput">Postcode
                    / ZIP * <span></span></label>
                  <input id="codeInput" type="text" class="form-control" value="<%= locals?.address[0]?.postalCode%>" required>
                </div><!-- End .col-sm-6 -->

                <div class="col-sm-6">
                  <label class="labelInputForInput">Phone
                    * <span></span></label>
                  <input id="phoneInput" type="tel" class="form-control" value="<%= locals?.address[0]?.phone%>" required>
                </div><!-- End .col-sm-6 -->
              </div><!-- End .row -->

              <div>
                <label class="labelInputForInput">Email
                  address * <span></span></label>
                <input id="emailInput" type="email" class="form-control" value="<%= locals?.address[0]?.email%>" required>
              </div>

              <style>
                .labelInputForInput {
                  width: 100%;
                  display: flex;
                  align-items: center;
                  justify-content: space-between;
                }

                .labelInputForInput span {
                  color: red;
                }
              </style>

            </div><!-- End .col-lg-9 -->
            <aside class="col-lg-3">

              <div class="checkout-discount">
                <form>
                  <input type="text" class="form-control" required id="checkout-discount-input">
                  <label for="checkout-discount-input" class="text-truncate">Have a coupon?
                    <span>Click here to enter your code</span></label>
                </form>
              </div><!-- End .checkout-discount -->

              <div class="summary">
                <h3 class="summary-title">Your Order</h3><!-- End .summary-title -->

                <table class="table table-summary">
                  <thead>
                    <tr>
                      <th>Product</th>
                      <th>Total</th>
                    </tr>
                  </thead>

                  <tbody>
                    <% locals?.cartProducts.forEach(product=>{ %>
                    <tr>
                      <td><a href="/product/<%=product?.PID%>">
                          <%= product?.title?.slice(0,50)+"..." %>
                        </a></td>
                      <td>₹ <%= product.total %>
                      </td>
                    </tr>
                    <% }); %>

                    <!-- <tr class="summary-subtotal">
                      <td>Subtotal:</td>
                      <td>₹ <%= locals?.cartProducts[0]?.subTotal %>
                      </td>
                    </tr> -->
                    <!-- End .summary-subtotal -->
                    <!-- <tr>
                      <td>Shipping:</td>
                      <td>Free shipping</td>
                    </tr> -->
                    <tr class="summary-total">
                      <td>Total:</td>
                      <td>₹ <%= locals?.cartProducts[0]?.subTotal?locals?.cartProducts[0]?.subTotal:0  %>
                      </td>
                    </tr><!-- End .summary-total -->
                  </tbody>
                </table><!-- End .table table-summary -->

                <div class="accordion-summary" id="accordion-payment">

                  <!-- <input type="radio" id="typeOfOrderCOD" name="typeOfOrder" value="COD" checked>
                  <label for="typeOfOrderCOD" style="text-transform: capitalize;  cursor: pointer; ">
                    COD (cash on delevery)
                  </label><br>
                  <input type="radio" id="typeOfOrderOnline" name="typeOfOrder" value="online">
                  <label for="typeOfOrderOnline" style="text-transform: capitalize;  cursor: pointer; ">
                    Online Payment
                  </label> <br> -->

                  <!-- <div class=" mt-2 alert alert-danger alert-dismissible fade" id="error_disp" role="alert">
                    <strong>Error : </strong><span>cannot checkout</span>
                    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                      <span aria-hidden="true">&times;</span>
                    </button>
                  </div> -->
                  <div class="mt-3">
                    <div class="btn btn-light w-100 text-dark mb-2" onclick="finalSubmit('COD')" style="cursor:pointer; color: black !important; font-weight: bold; border-radius: 5px;">
                      COD <small>&nbsp; cash on delevery </small>
                    </div>
                    <div class="btn btn-light w-100 text-dark" onclick="finalSubmit('online')" style="cursor:pointer; color: black !important; font-weight: bold; border-radius: 5px;">
                      Razorpay
                    </div>
                    <div class="text-center my-2">OR</div>
                    <div id="paypal-button-container" style="background-color: white !important; padding: 10px; border-radius: 5px;"></div>
                  </div>
                </div><!-- End .accordion -->
              </div><!-- End .summary -->

            </aside><!-- End .col-lg-3 -->
          </div><!-- End .row -->
        </div>
      </div><!-- End .container -->
    </div><!-- End .checkout -->
  </div><!-- End .page-content -->
</main><!-- End .main -->

<script src="https://www.paypal.com/sdk/js?client-id=ATcPF7a4UqXClozwCABrTfuWMFHTCcLOn4tCYU6oKkPSEGCM2Kd7oiXKaX7VCeNdQEQI73eJH8yjxFBQ"></script>
<script src="https://checkout.razorpay.com/v1/checkout.js"></script>
<script src="/js/user/checkout.js"></script>


<script>
  paypal.Buttons({
    // Sets up the transaction when a payment button is clicked
    createOrder: (data, actions) => {
      try {
        window.typeOfPayment = 'paypal'

        const submit = async () => {
          const data = await inputActions('validate');
          const resp = await fetch('/checkout', {
            headers: {
              'Content-Type': 'application/json'
            },
            method: 'POST',
            body: JSON.stringify(data)
          });
          const respData = await resp.json();

          if (respData.status == 'error') {
            Swal.fire({
              title: 'Error Creating order',
              html: respData.message
            });

          } else {
            console.log(respData?.message?.id);
            return respData?.message?.id;
          };
        };

        return submit();

      } catch (error) {
        Swal.fire({
          title: 'connection error'
        });
      };
    },
    // Finalize the transaction after payer approval
    onApprove: (data, actions) => {
      console.log('Approved => ',actions);
      return fetch(`/orders/${data.orderID}/capture`, {
          method: 'POST'
        })
        .then(res => res.json())
        .then(function(orderData) {
          // Successful capture! For dev/demo purposes:
          console.log('Capture result', orderData, JSON.stringify(orderData, null, 2));
          // const transaction = orderData.purchase_units[0].payments.captures[0];
          // alert(`Transaction ${transaction.status}: ${transaction.id}\n\nSee console for all available details`);
          // // When ready to go live, remove the alert and show a success message within this page. For example:
          // // const element = document.getElementById('paypal-button-container');
          // // element.innerHTML = '<h3>Thank you for your payment!</h3>';
          // // Or go to another URL:  actions.redirect('thank_you.html');
        });
    }
  }).render('#paypal-button-container');
</script>