<main class="main">
  <div class="page-header text-center" style="background-image: url('/assets/images/page-header-bg.jpg')">
    <div class="container">
      <h1 class="page-title animate__animated animate__fadeIn" style="text-transform: capitalize;">
        <%= locals.currentPage %>
        <span>Shop</span>
      </h1>
    </div><!-- End .container -->
  </div><!-- End .page-header -->
  <nav aria-label="breadcrumb" class="breadcrumb-nav mb-3">
    <div class="container">
      <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="/">Home</a></li>
        <li class="breadcrumb-item active" aria-current="page">My Account</li>
      </ol>
    </div><!-- End .container -->
  </nav><!-- End .breadcrumb-nav -->

  <div class="page-content">
    <div class="dashboard">
      <div class="container">
        <div class="row">
          <aside class="col-md-4 col-lg-3">
            <ul class="nav nav-dashboard flex-column mb-3 mb-md-0" role="tablist">
              <li class="nav-item" onclick="window.location.href='/dashboard/'">
                <a class="nav-link <%=locals?.currentPage=='dashboard'?'active':''%>" id="tab-dashboard-link" data-toggle="tab" href="#tab-dashboard" role="tab" aria-controls="tab-dashboard" aria-selected="false">Dashboard</a>
              </li>
              <li class="nav-item" onclick="window.location.href='/dashboard/orders'">
                <a class="nav-link <%=locals?.currentPage=='orders'?'active':''%>" id="tab-orders-link" data-toggle="tab" href="#tab-orders" role="tab" aria-controls="tab-orders" aria-selected="false">Orders</a>
              </li>
              <li class="nav-item " onclick="window.location.href='/dashboard/address'">
                <a class="nav-link <%=locals?.currentPage=='address'?'active':''%>" id="tab-address-link" data-toggle="tab" href="#tab-address" role="tab" aria-controls="tab-address" aria-selected="false">Adresses</a>
              </li>
              <li class="nav-item" onclick="window.location.href='/dashboard/account'">
                <a class="nav-link <%=locals?.currentPage=='account'?'active':''%>" id="tab-account-link" data-toggle="tab" href="#tab-account" role="tab" aria-controls="tab-account" aria-selected="false">Account Details</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" onclick="logout()" href="#">Sign Out</a>
              </li>
            </ul>
          </aside><!-- End .col-lg-3 -->

          <div class="col-md-8 col-lg-9">
            <div class="tab-content">

              <div class="tab-pane fade  <%=locals?.currentPage=='dashboard'?'show active':''%>" id="tab-dashboard" role="tabpanel" aria-labelledby="tab-dashboard-link">
                <p>Hello <span class="font-weight-normal text-dark">User</span> (not <span class="font-weight-normal text-dark">User</span>? <a href="#">Log out</a>)
                  <br>
                  From your account dashboard you can view your <a href="#tab-orders" class="tab-trigger-link link-underline">recent orders</a>, manage your <a href="#tab-address" class="tab-trigger-link">shipping and billing addresses</a>,
                  and <a href="#tab-account" class="tab-trigger-link">edit your password and account
                    details</a>.
                </p>
              </div><!-- .End .tab-pane -->

              <div class="tab-pane  animate__animated animate__fadeIn fade <%=locals?.currentPage=='orders'?'active show':''%>" id="tab-orders" role="tabpanel" aria-labelledby="tab-orders-link">
                <% locals?.orders?.forEach((e,i)=>{ %>
                <div class="border rounded mt-2 p-5">
                  <div class="row">
                    <div class="col-2">
                      <img class="img-fluid" src="/product_images/<%=e?.orders?.products?.PID %>1.jpg" alt="">
                    </div>
                    <div class="col-10">
                      <h6 class="mb-0">
                        <%= e?.orders?.products?.title?.slice(0,45)+"..." %>
                        <small style="float: right;">
                          <%= e?.orders?.dateOFOrder?.toDateString() %>
                        </small>
                      </h6>
                      <p>Order ID : <%= e?.orders?.orderID %></p>
                      <p> ₹ <%= e?.orders?.products?.price %> &times; <%= e?.orders?.products?.quantity %> pcs = ₹ <%=  e?.orders?.products?.total %> <br>
                        <span class="order_status_info" style="text-transform: capitalize;">Order Status : <%= e?.orders?.products?.status %></span> <br>
                        <span class="order_status_info" style="text-transform: capitalize;">Payment Status : <%= e?.orders?.products?.paymentStatus %></span> <br>
                        <span style="text-transform: capitalize ;">
                          <%=e?.orders?.address?.houseNumber?e?.orders?.address?.houseNumber:''%>
                          <%=e?.orders?.address?.town?', '+e?.orders?.address?.town:''%>
                          <%=e?.orders?.address?.state? ' , '+e?.orders?.address?.state:''%>
                          <%=e?.orders?.address?.country? ' , '+e?.orders?.address?.country:''%>
                          <%=e?.orders?.address?.postalCode? ' , '+e?.orders?.address?.postalCode:''%>
                          <%=e?.orders?.address?.phone? ' ('+e?.orders?.address?.phone+')...':''%>
                        </span>
                      </p>
                    </div>
                  </div>
                  <div class="mt-3">
                    <button class="btn btn-primary rounded" onclick="window.location.href='/product/<%=e?.orders?.products?.PID%>'">View
                      Product</button>
                    <% if(e?.orders?.products?.status!="cancelled"){ %>
                    <button class="btn rounded" onclick="cancelOrder('<%=e?.orders?._id%>','<%=e?.orders?.products?.PID%>',this)">Cancel
                      Order</button>
                    <% }; %>
                  </div>
                </div>

                <% }); %>

                <p>
                  <%=locals?.orders?.length?'':' No order has been made yet'%>
                </p>
                <a href="/shop" class="btn btn-outline-primary-2"><span>GO TO
                    SHOP</span><i class="icon-long-arrow-right"></i></a>
              </div><!-- .End .tab-pane -->

              <div class="tab-pane  animate__animated animate__fadeIn fade <%=locals?.currentPage=='address'?'active show':''%>" id="tab-address" role="tabpanel" aria-labelledby="tab-address-link">
                <p>The following addresses will be used on the checkout page by default.</p>

                <div class="row">

                  <% locals?.address?.forEach((e,i)=>{ %>

                  <div class="col-lg-6">
                    <div class="card card-dashboard">
                      <div class="card-body">
                        <h3 class="card-title" style="text-transform: capitalize;"><%=e.name%></h3>
                        <!-- End .card-title -->

                        <p><%= e?.name %> <br>
                          <span style="text-transform: capitalize;"><%= e?.houseNumber %>, <%= e?.streetNumber %>, <%= e?.town %></span><br>
                          <span style="text-transform: capitalize;"><%= e?.state %>, <%= e?.country%>, <%= e?.postalCode %></span>
                          <%= e?.phone %><br>
                          <%= e?.email %><br>
                          <a href="#">Edit <i class="icon-edit"></i></a>
                        </p>
                      </div><!-- End .card-body -->
                    </div><!-- End .card-dashboard -->
                  </div><!-- End .col-lg-6 -->


                  <% }); %>

                </div><!-- End .row -->
              </div><!-- .End .tab-pane -->

              <div class="tab-pane  animate__animated animate__fadeIn fade <%=locals?.currentPage=='account'?'active show':''%>" id="tab-account" role="tabpanel" aria-labelledby="tab-account-link">
                <form action="#">
                  <div class="row">
                    <div class="col-sm-6">
                      <label>First Name *</label>
                      <input type="text" class="form-control" value="<%= locals?.user?.name %>" required>
                    </div><!-- End .col-sm-6 -->

                    <div class="col-sm-6">
                      <label>Last Name *</label>
                      <input type="text" class="form-control" value="<%= locals?.user?.name %>" required>
                    </div><!-- End .col-sm-6 -->
                  </div><!-- End .row -->

                  <label>Display Name *</label>
                  <input type="text" class="form-control" value="<%= locals?.user?.displayName %>" required>
                  <small class="form-text">This will be how your name will be displayed in
                    the account
                    section and in reviews</small>

                  <label>Email address *</label>
                  <input type="email" class="form-control" value="<%= locals?.user?.email %>" required>

                  <label>Current password (leave blank to leave unchanged)</label>
                  <input type="password" class="form-control">

                  <label>New password (leave blank to leave unchanged)</label>
                  <input type="password" class="form-control">

                  <label>Confirm new password</label>
                  <input type="password" class="form-control mb-2">

                  <button type="submit" class="btn btn-outline-primary-2">
                    <span>SAVE CHANGES</span>
                    <i class="icon-long-arrow-right"></i>
                  </button>
                </form>
              </div><!-- .End .tab-pane -->

            </div>
          </div><!-- End .col-lg-9 -->
        </div><!-- End .row -->
      </div><!-- End .container -->
    </div><!-- End .dashboard -->
  </div><!-- End .page-content -->
</main><!-- End .main -->


<script>
  function logout() {

    fetch('/user_logout', {
        method: 'POST',
        headers: {
          'Content-Type': 'application/json'
        },
        body: JSON.stringify({
          message: "log me out"
        })
      })
      .then(res => res.json())
      .then(res => {
        if (res.status == 'error') {
          disp({
            message: res.message,
            isGood: false
          })
        } else {
          window.location.href = res.action;
        };
      })
      .catch(error => {
        disp({
          message: error,
          isGood: false
        });
      });
  };
  async function cancelOrder(orderID, PID, statusDisp) {

    Swal.fire({
      title: 'Are you sure?',
      text: "You won't be able to revert this!",
      icon: 'warning',
      showCancelButton: true,
      confirmButtonColor: '#3085d6',
      cancelButtonColor: '#d33',
      confirmButtonText: 'Yes, cancel it!'
    }).then((result) => {

      if (result.isConfirmed) {

        Swal.fire({
          title: 'Cancelling your order',
          html: 'Plz wait while processing...',
          didOpen: () => {
            Swal.showLoading();

            fetch('/orders/cancel/', {
                headers: {
                  'Content-Type': 'application/json'
                },
                method: "POST",
                body: JSON.stringify({
                  orderID: orderID,
                  PID: PID
                })
              })
              .then(res => res.json())
              .then(res => {
                console.log("RSULT => ", res);
                if (res.status == 'error') {
                  // error...
                  Swal.close();
                  Swal.fire({
                    title: res.message,
                    icon: 'error',
                    confirmButtonText: 'Contnue shopping'
                  });
                } else {
                  // cancelled...
                  statusDisp.parentElement.parentElement.querySelector('.order_status_info').innerText = 'Status : Cancelled';
                  statusDisp.remove();
                  Swal.close();
                  Swal.fire({
                    title: res.message,
                    icon: 'success',
                    confirmButtonText: 'Contnue shopping'
                  });
                };
              })
              .catch(error => {
                // error...
                Swal.close();
                Swal.fire({
                  title: error,
                  icon: 'error',
                  confirmButtonText: 'Contnue shopping'
                });
              });

          }
        }).then((result) => {
          /* Read more about handling dismissals below */
          if (result.dismiss === Swal.DismissReason.timer) {
            console.log('I was closed by the timer')
          };
        });

      };
    });
  };
</script>