<main class="main">
  <div class="page-header text-center" style="background-image: url('/assets/images/page-header-bg.jpg')">
    <div class="container">
      <h1 class="page-title animate__animated animate__fadeIn" style="text-transform: capitalize;">
        <%= locals.currentPage %>
        <span>Shop</span>
      </h1>
    </div><!-- End .container -->
  </div><!-- End .page-header -->
  <nav aria-label="breadcrumb" class="breadcrumb-nav mb-3">
    <div class="container">
      <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="/">Home</a></li>
        <li class="breadcrumb-item active" aria-current="page">My Account</li>
      </ol>
    </div><!-- End .container -->
  </nav><!-- End .breadcrumb-nav -->

  <div class="page-content">
    <div class="dashboard">
      <div class="container">
        <div class="row">
          <aside class="col-md-4 col-lg-3">
            <ul class="nav nav-dashboard flex-column mb-3 mb-md-0" role="tablist">
              <li class="nav-item" onclick="window.location.href='/dashboard/'">
                <a class="nav-link <%=locals?.currentPage=='dashboard'?'active':''%>" id="tab-dashboard-link" data-toggle="tab" href="#tab-dashboard" role="tab" aria-controls="tab-dashboard" aria-selected="false">Dashboard</a>
              </li>
              <li class="nav-item" onclick="window.location.href='/dashboard/orders'">
                <a class="nav-link <%=locals?.currentPage=='orders'?'active':''%>" id="tab-orders-link" data-toggle="tab" href="#tab-orders" role="tab" aria-controls="tab-orders" aria-selected="false">Orders</a>
              </li>
              <li class="nav-item " onclick="window.location.href='/dashboard/address'">
                <a class="nav-link <%=locals?.currentPage=='address'?'active':''%>" id="tab-address-link" data-toggle="tab" href="#tab-address" role="tab" aria-controls="tab-address" aria-selected="false">Adresses</a>
              </li>
              <li class="nav-item" onclick="window.location.href='/dashboard/account'">
                <a class="nav-link <%=locals?.currentPage=='account'?'active':''%>" id="tab-account-link" data-toggle="tab" href="#tab-account" role="tab" aria-controls="tab-account" aria-selected="false">Account Details</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" onclick="logout()" href="#">Sign Out</a>
              </li>
            </ul>
          </aside><!-- End .col-lg-3 -->

          <div class="col-md-8 col-lg-9">
            <div class="tab-content">

              <div class="tab-pane fade  <%=locals?.currentPage=='dashboard'?'show active':''%>" id="tab-dashboard" role="tabpanel" aria-labelledby="tab-dashboard-link">
                <p>Hello <span class="font-weight-normal text-dark">User</span> (not <span class="font-weight-normal text-dark">User</span>? <a href="#">Log out</a>)
                  <br>
                  From your account dashboard you can view your <a href="#tab-orders" class="tab-trigger-link link-underline">recent orders</a>, manage your <a href="#tab-address" class="tab-trigger-link">shipping and billing addresses</a>,
                  and <a href="#tab-account" class="tab-trigger-link">edit your password and account
                    details</a>.
                </p>
              </div><!-- .End .tab-pane -->

              <div class="tab-pane  animate__animated animate__fadeIn fade <%=locals?.currentPage=='orders'?'active show':''%>" id="tab-orders" role="tabpanel" aria-labelledby="tab-orders-link">
                <% locals?.orders?.forEach((e,i)=>{ %>
                <div class="border rounded mt-2 p-5">
                  <div class="row">
                    <div class="col-2">
                      <img class="img-fluid" src="/product_images/<%=e?.orders?.products?.PID %>1.jpg" alt="">
                    </div>
                    <div class="col-10">
                      <h6 class="mb-0">
                        <%= e?.orders?.products?.title?.slice(0,45)+"..." %>
                        <small style="float: right;">
                          <%= e?.orders?.dateOFOrder?.toDateString() %>
                        </small>
                      </h6>
                      <p>Order ID : <%= e?.orders?.orderID %></p>
                      <p> ₹ <%= e?.orders?.products?.price %> &times; <%= e?.orders?.products?.quantity %> pcs = ₹ <%=  e?.orders?.products?.total %> <br>
                        <span style="text-transform: capitalize;" class="d-flex align-items-center">
                          Order Status :
                          <!-- <%= e?.orders?.products?.status %> -->
                          <% if(e?.orders?.products?.status=='ordered') {%>
                          <span class="badge badge-warning ml-2 mr-2" data-toggle="tooltip" title="<%=locals?.util?.dataToReadable(e?.orders?.products?.update)%>"><%=e?.orders?.products?.status%></span>
                          <!-- <div class="spinner-grow spinner-grow-sm text-warning"></div> -->
                          <% }else if(e?.orders?.products?.status=='shipped'){ %>
                          <span class="badge badge-info ml-2 mr-2" data-toggle="tooltip" title="<%=locals?.util?.dataToReadable(e?.orders?.products?.update)%>"><%=e?.orders?.products?.status%></span>
                          <!-- <div class="spinner-grow spinner-grow-sm text-info"></div> -->
                          <% }else if(e?.orders?.products?.status=='out for delivery'){ %>
                          <span class="badge badge-secondary ml-2 mr-2" data-toggle="tooltip" title="<%=locals?.util?.dataToReadable(e?.orders?.products?.update)%>"><%=e?.orders?.products?.status%></span>
                          <!-- <div class="spinner-grow spinner-grow-sm text-secondary"></div> -->
                          <% }else if(e?.orders?.products?.status=='delivered'){ %>
                          <span class="badge badge-success ml-2 mr-2" data-toggle="tooltip" title="<%=locals?.util?.dataToReadable(e?.orders?.products?.update)%>"><%=e?.orders?.products?.status%></span>
                          <!-- <div class="spinner-grow spinner-grow-sm text-success"></div> -->
                          <% }else if(e?.orders?.products?.status=='cancelled'){ %>
                          <span class="badge badge-danger ml-2 mr-2" data-toggle="tooltip" title="<%=locals?.util?.dataToReadable(e?.orders?.products?.update)%>"><%=e?.orders?.products?.status%></span>
                          <!-- <div class="spinner-grow spinner-grow-sm text-danger"></div> -->
                          <% } %>
                        </span>
                        <span class="order_status_info" style="text-transform: capitalize;">Payment Status : <%= e?.orders?.products?.paymentStatus %></span> <br>
                        <span style="text-transform: capitalize ;">
                          <%=e?.orders?.address?.houseNumber?e?.orders?.address?.houseNumber:''%>
                          <%=e?.orders?.address?.town?', '+e?.orders?.address?.town:''%>
                          <%=e?.orders?.address?.state? ' , '+e?.orders?.address?.state:''%>
                          <%=e?.orders?.address?.country? ' , '+e?.orders?.address?.country:''%>
                          <%=e?.orders?.address?.postalCode? ' , '+e?.orders?.address?.postalCode:''%>
                          <%=e?.orders?.address?.phone? ' ('+e?.orders?.address?.phone+')...':''%>
                        </span>
                      </p>
                    </div>
                  </div>
                  <div class="mt-3">
                    <button class="btn btn-primary rounded" onclick="window.location.href='/product/<%=e?.orders?.products?.PID%>'">View
                      Product</button>
                    <% if(e?.orders?.products?.status!="cancelled" && e?.orders?.products?.status!="delivered"){ %>
                    <button class="btn rounded" onclick="cancelOrder('<%=e?.orders?._id%>','<%=e?.orders?.products?.PID%>',this)">Cancel
                      Order</button>
                    <% }else if(e?.orders?.products?.status=="delivered"){ %>
                    <button class="btn rounded  btn-primary" onclick="returnOrder('<%=e?.orders?._id%>','<%=e?.orders?.products?.PID%>',this)">Return order</button>
                    <% } %>
                  </div>
                </div>

                <% }); %>

                <p>
                  <%=locals?.orders?.length?'':' No order has been made yet'%>
                </p>
                <a href="/shop" class="btn btn-outline-primary-2"><span>GO TO
                    SHOP</span><i class="icon-long-arrow-right"></i></a>
              </div><!-- .End .tab-pane -->

              <!-- The Modal -->
              <div class="modal fade" id="myModal">
                <div class="modal-dialog modal-dialog-scrollable modal-lg">
                  <div class="modal-content">
                    <!-- Modal Header -->
                    <div class="modal-header">
                      <h4 class="modal-title">Edit address</h4>
                      <button type="button" class="close" data-dismiss="modal">×</button>
                    </div>
                    <!-- Modal body -->
                    <div class="modal-body inputContainerForUerDataUpdate">
                      <div class="container-fluid mt-2">
                        <p>
                          <b>Note :</b> A reload is required to reflect the changes across the page
                        </p> <br>

                        <div class="form-group">
                          <label for="nameInputAdd">Name : <span></span></label>
                          <input type="text" class="form-control" id="nameInputAdd">
                        </div>
                        <div class="form-group">
                          <label for="houseNumberAdd">House number / House name : <span></span></label>
                          <input type="text" class="form-control" id="houseNumberAdd">
                        </div>
                        <div class="form-group">
                          <label for="streetNumberAdd">Street number / Street name : <span></span></label>
                          <input type="text" class="form-control" id="streetNumberAdd">
                        </div>
                        <div class="form-group">
                          <label for="stateInputAdd">State : <span></span></label>
                          <input type="text" class="form-control" id="stateInputAdd">
                        </div>
                        <div class="form-group">
                          <label for="townInputAdd">Town : <span></span></label>
                          <input type="text" class="form-control" id="townInputAdd">
                        </div>
                        <div class="form-group">
                          <label class="labelInputForInput" for="countryInputAdd">Country * <span></span></label>
                          <select class=" form-control" name="country" id="countryInputAdd">
                            <% locals?.country?.forEach(e=>{ %>
                            <option value="<%= e.code %>">
                              <%- e.name %>
                            </option>
                            <% }); %>
                          </select>
                        </div>
                        <div class="form-group">
                          <label for="codeInputAdd">Postal code : <span></span></label>
                          <input type="text" class="form-control" id="codeInputAdd">
                        </div>
                        <div class="form-group">
                          <label for="phoneInputAdd">Phone : <span></span></label>
                          <input type="text" class="form-control" id="phoneInputAdd">
                        </div>
                        <div class="form-group">
                          <label for="emailInputAdd">Email : <span></span></label>
                          <input type="email" class="form-control" id="emailInputAdd">
                        </div>

                      </div>
                    </div>

                    <!-- Modal footer -->
                    <div class="modal-footer">
                      <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                      <button type="button" class="btn btn-primary" onclick="updateAddresData()">Update</button>
                    </div>
                  </div>
                </div>
              </div>

              <div class="tab-pane  animate__animated animate__fadeIn fade <%=locals?.currentPage=='address'?'active show':''%>" id="tab-address" role="tabpanel" aria-labelledby="tab-address-link">
                <p>The following addresses will be used on the checkout page by default.</p>

                <div class="row">

                  <% locals?.address?.forEach((e,i)=>{ %>

                  <div class="col-lg-6">
                    <div class="card card-dashboard">
                      <div class="card-body">
                        <h3 class="card-title" style="text-transform: capitalize;"><%=e.name%></h3>
                        <!-- End .card-title -->

                        <p><%= e?.name %> <br>
                          <span style="text-transform: capitalize;"><%= e?.houseNumber %>, <%= e?.streetNumber %>, <%= e?.town %></span><br>
                          <span style="text-transform: capitalize;"><%= e?.state %>, <%= e?.country%>, <%= e?.postalCode %></span>
                          <%= e?.phone %><br>
                          <%= e?.email %><br>
                          <a onclick="getAddressForm('<%=e._id%>')" style="cursor: pointer;">Edit <i class="icon-edit"></i></a>
                        </p>
                      </div><!-- End .card-body -->
                    </div><!-- End .card-dashboard -->
                  </div><!-- End .col-lg-6 -->


                  <% }); %>

                </div><!-- End .row -->
              </div><!-- .End .tab-pane -->

              <div class="tab-pane inputContainerForUerDataUpdate animate__animated animate__fadeIn fade <%=locals?.currentPage=='account'?'active show':''%>" id="tab-account" role="tabpanel" aria-labelledby="tab-account-link">
                <div>
                  <div class="row">
                    <div class="col-sm-6">
                      <label>First Name * <span></span></label>
                      <input type="text" id="nameInput" class="form-control" value="<%= locals?.user?.name?.split(' ')[0] %>">
                    </div><!-- End .col-sm-6 -->

                    <div class="col-sm-6">
                      <label>Last Name * <span></span></label>
                      <input type="text" id="lNameInput" class="form-control" value="<%= locals?.user?.name?.split(' ').slice(1)?.join(" ")%>">
                    </div><!-- End .col-sm-6 -->
                  </div><!-- End .row -->
                  <div>
                    <label>Display Name * <span></span></label>
                    <input type="text" id="displayName" class="form-control" value="<%= locals?.user?.displayName %>">
                    <small class="form-text">This will be how your name will be displayed in the account section and in reviews</small>
                  </div>
                  <div>
                    <label>Email address * <span></span></label>
                    <input type="email" id="emailInput" class="form-control" value="<%= locals?.user?.email %>">
                  </div>
                  <div>
                    <label>Phone * <span></span></label>
                    <input type="text" id="phoneInput" class="form-control" value="<%= locals?.user?.phone %>">
                  </div>

                  <% if(locals?.user?.loginProvider !='google'&& locals?.user?.loginProvider != 'phone'){ %>
                  <div>
                    <label>Current password (leave blank to leave unchanged) <span></span></label>
                    <input id="currentPassword" type="password" class="form-control">
                  </div>
                  <div>
                    <label>New password (leave blank to leave unchanged) <span></span></label>
                    <input id="newPassword" type="password" class="form-control">
                  </div>
                  <div>
                    <label>Confirm new password <span></span></label>
                    <input id="confirmPassword" type="password" class="form-control mb-2">
                  </div>
                  <p><a href="#">Forgot password ?</a></p>
                  <% } %>

                  <button type="button" onclick="updaeUserData()" class="btn btn-outline-primary-2 mt-2">
                    <span>SAVE CHANGES</span>
                    <i class="icon-long-arrow-right"></i>
                  </button>
                </div>
              </div><!-- .End .tab-pane -->

            </div>
          </div><!-- End .col-lg-9 -->
        </div><!-- End .row -->
      </div><!-- End .container -->
    </div><!-- End .dashboard -->
  </div><!-- End .page-content -->
</main><!-- End .main -->


<script src="/js/user/dashboard.js"></script>