<nav class="sidebar sidebar-offcanvas" id="sidebar">
  <ul class="nav">
    <li class="nav-item <%=locals.currentPage=='dashboard'?'active':'';%>">
      <a class="nav-link" href="/">
        <i class="mdi mdi-home menu-icon"></i>
        <span class="menu-title">Dashboard</span>
      </a>
    </li>
    <li class="nav-item <%=locals.currentPageA=='users'?'active':'';%>">
      <a class="nav-link" href="/user_management">
        <i class="mdi mdi-account menu-icon"></i>
        <span class="menu-title">Users</span>
      </a>
    </li>
    <li class="nav-item <%=locals.currentPageA=='products'?'active':'';%>">
      <a class="nav-link" href="/products">
        <i class="mdi mdi-shopping menu-icon"></i>
        <span class="menu-title">Products</span>
      </a>
    </li>
    <li class="nav-item <%=locals.currentPageA=='category'?'active':'';%>">
      <a class="nav-link" href="/category">
        <i class="mdi mdi-shape-plus menu-icon"></i>
        <span class="menu-title">Category</span>
      </a>
    </li>
    <li class="nav-item <%=locals.currentPageA=='orders'?'active':'';%>">
      <a class="nav-link" href="/orders">
        <i class="mdi mdi-grid-large menu-icon"></i>
        <span class="menu-title">Orders</span>
      </a>
    </li>
    <li class="nav-item  <%=locals.currentPageA=='coupen'?'active':'';%>">
      <a class="nav-link" href="/coupon">
        <i class="mdi mdi mdi-ticket menu-icon"></i>
        <span class="menu-title">Coupens</span>
      </a>
    </li>
    <li class="nav-item  <%=locals.currentPageA=='banner'?'active':'';%>">
      <a class="nav-link" href="/banner">
        <i class="mdi mdi-bullhorn menu-icon"></i>
        <span class="menu-title">Banners</span>
      </a>
    </li>
    <li class="nav-item">
      <a class="nav-link" data-bs-toggle="collapse" href="#auth" aria-expanded="false" aria-controls="auth">
        <i class="mdi mdi-account menu-icon"></i>
        <span class="menu-title">User Pages</span>
        <i class="menu-arrow"></i>
      </a>
      <div class="collapse" id="auth">
        <ul class="nav flex-column sub-menu">
          <li class="nav-item"> <a class="nav-link" href="/pages/samples/login.html"> Login </a></li>
          <li class="nav-item"> <a class="nav-link" href="/pages/samples/login-2.html"> Login 2 </a></li>
          <li class="nav-item"> <a class="nav-link" href="/pages/samples/register.html"> Register </a></li>
          <li class="nav-item"> <a class="nav-link" href="/pages/samples/register-2.html"> Register 2 </a></li>
          <li class="nav-item"> <a class="nav-link" href="/pages/samples/lock-screen.html"> Lockscreen </a></li>
        </ul>
      </div>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="/documentation/documentation.html">
        <i class="mdi mdi-file-document-box-outline menu-icon"></i>
        <span class="menu-title">Documentation</span>
      </a>
    </li>
  </ul>
</nav>